/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 31, sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 42, sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 43, sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 44, sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 46, sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 48, sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 58, sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 67, sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 74, sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 86, sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 3px 0 0 0;
  padding: 0 0 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "atrament-web", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

/* line 105, sass/style.scss */
#service-nav {
  font-family: "futura-pt-condensed";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 117, sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
}
/* line 122, sass/style.scss */
#service-nav ul li a {
  text-decoration: none;
}
/* line 126, sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}
/* line 130, sass/style.scss */
#service-nav #menu-nav {
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 65px;
  position: relative;
}
/* line 136, sass/style.scss */
#service-nav #menu-nav li {
  margin: 0 25px 0 0;
}
/* line 139, sass/style.scss */
#service-nav #menu-nav li a {
  color: #0bb7ab;
}
/* line 142, sass/style.scss */
#service-nav #menu-nav li a:hover {
  border-bottom: 2px solid #0bb7ab;
}
/* line 149, sass/style.scss */
#service-nav #user-nav {
  font-family: "futura-pt-condensed";
  text-transform: none;
  line-height: 20px;
  position: absolute;
  padding: 0;
  margin: -14px 10px 0 0;
  right: 0px;
}
/* line 158, sass/style.scss */
#service-nav #user-nav li {
  margin: 0 25px 0 0;
}
/* line 161, sass/style.scss */
#service-nav #user-nav li a {
  color: #1f1f1f;
}
/* line 164, sass/style.scss */
#service-nav #user-nav li a:hover {
  border-bottom: 2px solid #1f1f1f;
}
/* line 169, sass/style.scss */
#service-nav #user-nav #invite {
  border-right: 1px solid #1f1f1f;
  padding-right: 20px;
  margin-right: 0px;
}
/* line 174, sass/style.scss */
#service-nav #user-nav #you {
  font-family: "futura-pt-condensed";
  display: block;
  text-transform: none;
  margin-top: -3px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 3px;
}
/* line 182, sass/style.scss */
#service-nav #user-nav #you #user-links {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 125px;
  margin-top: 10px;
}
/* line 189, sass/style.scss */
#service-nav #user-nav #you #user-links li {
  display: block;
  width: 100%;
  clear: both;
  margin: 0;
  background: #0bb7ab;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 7px;
}
/* line 197, sass/style.scss */
#service-nav #user-nav #you #user-links li a {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 100%;
}
/* line 203, sass/style.scss */
#service-nav #user-nav #you #user-links li a:hover {
  border-bottom: none;
}
/* line 207, sass/style.scss */
#service-nav #user-nav #you #user-links li:hover {
  background: #08877e;
}
/* line 212, sass/style.scss */
#service-nav #user-nav #you #user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0px 8px 10px 0px;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
}
/* line 223, sass/style.scss */
#service-nav #user-nav #you #user-name {
  color: #1f1f1f;
  position: relative;
  float: left;
  display: block;
  padding: 0px;
  line-height: 20px;
  /*background-color: $yourColor;*/
}

/*#you:hover {
	background-color: $yourColor;
	}*/
/* line 240, sass/style.scss */
#user-links.hidden {
  /*display: none;*/
}

/* line 243, sass/style.scss */
#you:hover .dropdown {
  display: block;
}

/* line 246, sass/style.scss */
#user-links.dropdown {
  display: none;
}

/* line 250, sass/style.scss */
#animation-clock {
  position: fixed;
  top: 35px;
  display: none;
  background-color: black;
  padding: 6px;
  color: white;
  font-family: monospace;
}

/*BOTTOM NAV*/
/* line 262, sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 270, sass/style.scss */
#bottom-bar {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 284, sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
}

/* line 292, sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 300, sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 307, sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 311, sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 327, sass/style.scss */
#portrait-nav .mapSelect.selected img.mapbtn {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 331, sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "futura-pt-condensed";
  font-size: 14px;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 350, sass/style.scss */
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
  display: block;
}

/* line 353, sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 357, sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 360, sass/style.scss */
.pop a.name {
  font-family: "futura-pt-condensed";
  font-size: 16px;
  text-transform: uppercase;
}

/* line 365, sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: 14px "ff-tisa-web-pro", Georgia, serif;
}

/*MAP NAV*/
/* line 372, sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -14px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 382, sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 385, sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 389, sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 398, sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 402, sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 413, sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #08877e;
}
/* line 418, sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 422, sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #08877e;
}

/* PORTRAIT-CONTROL-NAV */
/* line 429, sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 439, sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
  /*
  li.selectedLink {
  	background-color: darken($yourColor, 10%);
  } 
  */
}
/* line 442, sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 448, sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 453, sass/style.scss */
#portrait-control-nav ul li a:hover {
  background-color: #08877e;
}
/* line 456, sass/style.scss */
#portrait-control-nav ul li a.selected {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 470, sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 480, sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 484, sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 490, sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 495, sass/style.scss */
#time-nav ul li a:hover {
  background-color: #08877e;
}
/* line 498, sass/style.scss */
#time-nav ul li a.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 507, sass/style.scss */
#time-nav ul li a.selected:before, #portrait-control-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 513, sass/style.scss */
#time-nav ul li a:before, #portrait-control-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 519, sass/style.scss */
#time-nav ul li a#animate:before, #time-nav ul li a#animate selected:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 525, sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -webkit-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -o-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
}

/* line 538, sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 542, sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}

/* line 546, sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 549, sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 554, sass/style.scss */
#sidebar-nav ul li a img:hover {
  background-color: #08877e;
}

/* line 557, sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 563, sass/style.scss */
#sidebar .title {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 36px;
}
/* line 567, sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}
/* line 572, sass/style.scss */
#sidebar #stats-profile img.stats-avatar {
  width: 87px;
  height: 87px;
}
/* line 573, sass/style.scss */
#sidebar #stats-versus img.stats-avatar {
  width: 50px;
  height: 50px;
}
/* line 574, sass/style.scss */
#sidebar .stats-color {
  height: 5px;
}
/* line 577, sass/style.scss */
#sidebar .stats-duration {
  text-transform: uppercase;
}

/* LEADERBOARD */
/* line 609, sass/style.scss */
#leaderboard {
  /*End table*/
}
/* line 610, sass/style.scss */
#leaderboard table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tbody*/
}
/* line 614, sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}
/* line 620, sass/style.scss */
#leaderboard table thead tr td {
  width: 70px;
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 624, sass/style.scss */
#leaderboard table thead tr th {
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 630, sass/style.scss */
#leaderboard table tbody {
  /* End tr*/
}
/* line 631, sass/style.scss */
#leaderboard table tbody tr {
  margin: 0;
  padding: 0;
}
/* line 634, sass/style.scss */
#leaderboard table tbody tr th {
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 5px solid;
}
/* line 637, sass/style.scss */
#leaderboard table tbody tr th p.stats-name {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 1em;
}
/* line 643, sass/style.scss */
#leaderboard table tbody tr td {
  width: 70px;
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  border-top: 5px solid;
  text-align: right;
  float: left;
  font-size: 1.3em;
}
/* line 650, sass/style.scss */
#leaderboard table tbody tr .emph {
  font-size: 40px;
  text-align: right;
}
/* line 657, sass/style.scss */
#leaderboard table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 668, sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* STATS PROFILE */
/* line 725, sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* STATS PROFILE VS PROFILE */
/* line 734, sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* COMMENTARY */
/* line 738, sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

/* line 752, sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 758, sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}

/* line 763, sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 40px;
  font-size: 14px;
}
