/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 22, ../sass/style.scss */
body {
  font-size: 100%;
  background: #f8f7f2 url(../img/map_1680x2750.png) top left no-repeat;
  margin: 0;
  padding: 0;
  height: 2750px;
}

/* line 30, ../sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 40, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 49, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 56, ../sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 68, ../sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 0 0.5em 0 0em;
  padding: 0em .5em 0 0;
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "atrament-web", sans-serif;
  font-size: 35px;
  text-align: center;
}

/* line 82, ../sass/style.scss */
#service-nav {
  font: 1em Georgia, serif;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 5%;
  padding: 0;
  vertical-align: baseline;
}

/* line 92, ../sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
  margin: 0 1.5em 0 0;
  vertical-align: baseline;
}

/* line 99, ../sass/style.scss */
#service-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}

/* line 103, ../sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}

/* line 106, ../sass/style.scss */
#menu-nav {
  padding-top: 0px;
  margin-top: 8px;
  position: relative;
}

/* line 111, ../sass/style.scss */
#user-nav {
  position: absolute;
  height: 75px;
  float: right;
  padding-top: 0;
  margin: 8px 0 0 0;
  color: #0bb7ab;
  right: 0;
}

/* line 120, ../sass/style.scss */
#user {
  font-size: 1.4em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
}

/* line 125, ../sass/style.scss */
#user-nav li:first-child {
  border: none;
}

/* line 128, ../sass/style.scss */
#user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
}

/* line 137, ../sass/style.scss */
#user-name {
  position: relative;
  float: left;
  display: block;
  padding: 6px;
}

/* line 143, ../sass/style.scss */
#invite {
  font: 1em Georgia, serif;
  margin-top: 8px;
  padding: 0;
}

/*BOTTOM NAV*/
/* line 149, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 30px;
}

/* line 153, ../sass/style.scss */
#bottom-bar {
  height: 30px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 167, ../sass/style.scss */
#portrait-nav {
  bottom: 28px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
}

/* line 175, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 183, ../sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 190, ../sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 194, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 210, ../sass/style.scss */
#portrait-nav img.selected {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 214, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "atrament-web", sans-serif;
  font-size: 1em;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 233, ../sass/style.scss */
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
  display: block;
}

/* line 236, ../sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 240, ../sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 243, ../sass/style.scss */
.pop a.name {
  font-family: "atrament-web", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* line 248, ../sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: .8em Georgia;
}

/*MAp NAV*/
/* line 255, ../sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -15px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: right;
}

/* line 265, ../sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}

/* line 269, ../sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid #043f3b;
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}

/* line 278, ../sass/style.scss */
img.mapbtn:hover {
  background-color: #076f68;
}

/* line 282, ../sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}

/* line 286, ../sass/style.scss */
img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
}

/* line 297, ../sass/style.scss */
#map-nav .pop {
  width: 100px;
}

/* line 300, ../sass/style.scss */
#map-nav .selected {
  background-color: #076f68;
}

/* MAIN-NAV */
/* line 305, ../sass/style.scss */
#main-nav {
  bottom: 0;
  display: block;
  margin: -12px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}

/* line 315, ../sass/style.scss */
#main-nav ul li {
  display: block;
  float: left;
  font-size: 20px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0 0;
}

/* line 323, ../sass/style.scss */
#main-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-right: 1px solid #0bb7ab;
}

/* TIME-NAV */
/* line 330, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -12px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: right;
}

/* line 340, ../sass/style.scss */
#time-nav ul {
  padding-left: 0;
  padding-right: 5px;
}

/* line 344, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 130px;
  font-size: 20px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0em 0;
}

/* line 354, ../sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 5px;
}

/* line 360, ../sass/style.scss */
#time-nav ul li a.selected {
  background-color: #076f68;
}

/* CHECKBOXES */
/* line 366, ../sass/style.scss */
#time-nav ul li a.selected:before, #main-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 10px;
}

/* line 370, ../sass/style.scss */
#time-nav ul li a:before, #main-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 10px;
}

/* SIDEBAR */
/* line 377, ../sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #bfbfbf;
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
}

/* line 391, ../sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
}

/* line 394, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 397, ../sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 402, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 407, ../sass/style.scss */
#sidebar .title {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

/* line 412, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}

/* LEADERBOARD */
/* line 444, ../sass/style.scss */
#leaderboard {
  /*visibility: hidden; TURN OFF LEADERBOARD HERE*/
  /*End table*/
}
/* line 446, ../sass/style.scss */
#leaderboard table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tfoot*/
}
/* line 450, ../sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}
/* line 456, ../sass/style.scss */
#leaderboard table thead tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 460, ../sass/style.scss */
#leaderboard table thead tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 466, ../sass/style.scss */
#leaderboard table tfoot {
  /* End tr*/
}
/* line 467, ../sass/style.scss */
#leaderboard table tfoot tr {
  margin: 0;
  padding: 0;
}
/* line 471, ../sass/style.scss */
#leaderboard table tfoot tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
}
/* line 474, ../sass/style.scss */
#leaderboard table tfoot tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
}
/* line 476, ../sass/style.scss */
#leaderboard table tfoot tr th p {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 1em;
}
/* line 482, ../sass/style.scss */
#leaderboard table tfoot tr td {
  text-align: right;
  float: left;
  font-size: 1.3em;
}
/* line 487, ../sass/style.scss */
#leaderboard table tfoot tr .emph {
  font-size: 40px;
  text-align: right;
}
/* line 494, ../sass/style.scss */
#leaderboard table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 506, ../sass/style.scss */
#lb-sera th, #lb-sera td {
  border-top: 5px solid #f6917f;
}

/* line 511, ../sass/style.scss */
#lb-carrie th, #lb-carrie td {
  border-top: 5px solid #ef5476;
}

/* line 516, ../sass/style.scss */
#lb-frank th, #lb-frank td {
  border-top: 5px solid #8bb049;
}

/* line 521, ../sass/style.scss */
#lb-guri th, #lb-guri td {
  border-top: 5px solid #0bb7ab;
}

/* line 526, ../sass/style.scss */
#lb-kristin th, #lb-kristin td {
  border-top: 5px solid #f0b50c;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* COMMENTARY */
/* line 579, ../sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
}

/* line 591, ../sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 597, ../sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}
