/*
body {
	font-size: 100%;
	background: #f8f7f2 url(../img/map_2200x3026.png) top left no-repeat;  
	margin: 0;
	padding:0;
	height: 3026px;
	}

canvas { 
	margin-top: 0px;
	margin-left: 0px;
	width: 2200px;
	height: 3026px;
	display: block;
	position: relative;
	z-index: 10;
}
*/
/* tony was here */
body {
	font-size: 100%;
	background: #f8f7f2 url(../img/map_1680x2750.png) top left no-repeat;  
	margin: 0;
	padding:0;
	height: 2750px;
	}

canvas { 
	margin-top: 0px;
	margin-left: 0px;
	width: 1680px;
	height: 2750px;
	display: block;
	position: relative;
	z-index: 10;
}

h1 {
	font-family: "atrament-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 4.3em;
	text-align: center;
	}
	
/* NAVS */	
#nav, #main-nav, #portrait-nav {
	position: fixed;
	width: 100%;
	margin: 0;	
	}
	
/*SERVICE NAV (TOP)*/
#service-bar {
	background-color: #000;
	width: 100%;
	height: 2.6em;
	opacity: 0.7;
	margin: 1.5em 0 0 0;
	position: absolute;
	z-index: 20;
	-moz-box-shadow: 3px 3px 7px #888;
  	-webkit-box-shadow: 3px 3px 7px #888;
  		}
 #logo {
	display: block;
	float: left;
	position: relative;
	z-index: 25;
	margin: -0.5em 0.5em -0.5em 5%;
	padding: 0.5em;
	background-color: #00ddff;
	color: #ffffff;
	font: 3.5em "atrament-web";
	text-align: center;
	}
#service-nav {
	font: 1em Georgia, serif;
	width: 100%;
	heigth: 1em;
	position: absolute;
	z-index: 20;
	margin: 1.3em 0 0 0;
	padding: 0;
	vertical-align: baseline;
   /* -moz-border-radius-bottomright: 15px;
  	-webkit-border-bottom-right-radius: 15px;*/
	}
#service-nav ul {
	position: relative;
	list-style-type: normal;
}
#service-nav ul li {
	display: block;
	float: left;
	margin: 0 1.5em 0 0;
	vertical-align: baseline;
	}
#service-nav ul li a{
	color: #ffffff; 
	text-decoration: none;
	}
#service-nav ul li:first-child {
	border-bottom: 2px solid #ffffff;
}
#user-nav {
	position: relative;
	display: block;
	float:right;
	margin: -0.8em 5% 0 0;
	color: #ffffff;
	right: 0;
	background-color: #00ddff;
	font: 1.2em "atrament-web";
	text-transform: uppercase;
	}
ul#user-nav {
	padding:0;
	}
ul#user-nav li:first-child{
	border:none;
	}
#user-avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height:49px;
	width: 49px;
	}
#user-name {
	position:relative;
	float:left;
	display:block;
	padding: 0.5em;
}	
/*MAIN NAV*/

#main-nav {
	bottom: 0;
	margin: 0 0 3.5em 0;	
	padding: 0 0 0.3em 0;
	background-color: #fff;
	opacity: 0.7;
	z-index: 15;
	}
#main-nav ul li {
	display: block;
	float: left;
	font: 1.2em "atrament-web";
	text-transform: uppercase;
	padding: 0.2em 0;
	}
#main-nav ul li a{
	color: #00ddff; 
	text-decoration: none;  
	padding: 0.2em 0.5em;
	border-right: 1px solid #00ddff;
	}
#main-nav ul li:first-child {
	background:yellow;
	border-left: 1px solid #00ddff;
}

/*PORTRAIT NAV*/

#portrait-nav {
	bottom: 0;
	-moz-box-shadow: 5px 5px 7px #888;
  	-webkit-box-shadow: 5px 5px 7px #888;	}
#portrait-nav {
	height: 3.5em;
	background-color: #000;
	opacity: 0.7;
	z-index: 20;
	margin-top: 2.5em;
	-moz-box-shadow: 3px -3px 7px #888;
  	-webkit-box-shadow: 3px -3px 7px #888;
/*  -moz-border-radius-bottomright: 15px;
  	-webkit-border-bottom-right-radius: 15px;*/
	}
#portrait-nav ul {
	position: relative;
	list-style-type: normal;
	margin-right: auto;
}
#portrait-nav ul li {
	display: block;
	float: left;
	padding-right: 1em;
	}
#portrait-nav ul li a{
	color: #ffffff; 
	text-decoration: none;  
	}
	
			/*
.blue #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(images/blueslate_background.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}

.blue #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}

.blue #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}

.blue #slatenav ul li a{display:block;float:left;color:#D5F1FF;text-decoration:none;padding:14px 22px 0 22px;height:28px;}

.blue #slatenav ul li a:hover,.blue #slatenav ul li a.current{color:#fff;background:transparent url(images/blueslate_backgroundOVER.gif) no-repeat top center;}*/
	
