/*COLORS*/
/*brown #322e10*/
/*FONTS*/
/* line 19, ../sass/style.scss */
body {
  font-size: 100%;
  background: #f8f7f2 url(../img/map_1680x2750.png) top left no-repeat;
  margin: 0;
  padding: 0;
  height: 2750px;
}

/* line 27, ../sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 37, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 46, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 53, ../sass/style.scss */
#service-bar {
  background-color: #322e10;
  width: 100%;
  height: 2.4em;
  opacity: 0.7;
  margin: 1.4em 0 0 0;
  position: absolute;
  z-index: 200;
  -moz-box-shadow: 3px 3px 7px #888;
  -webkit-box-shadow: 3px 3px 7px #888;
}

/* line 64, ../sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: -0.5em 0.5em -0.5em 5%;
  padding: 0.5em;
  padding-bottom: .4em;
  background-color: #9880ba;
  color: #ffffff;
  font-family: "atrament-web", sans-serif;
  font-size: 3.5em;
  text-align: center;
}

/* line 78, ../sass/style.scss */
#service-nav {
  font: 1em Georgia, serif;
  width: 100%;
  heigth: 1em;
  position: absolute;
  z-index: 200;
  margin: 1em 0 0 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 88, ../sass/style.scss */
#service-nav ul {
  position: relative;
  list-style-type: normal;
}

/* line 92, ../sass/style.scss */
#service-nav ul li {
  display: block;
  float: left;
  margin: 0 1.5em 0 0;
  vertical-align: baseline;
}

/* line 98, ../sass/style.scss */
#service-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 102, ../sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #ffffff;
}

/* line 105, ../sass/style.scss */
#user-nav {
  position: relative;
  display: block;
  float: right;
  margin: -0.8em 5% 0 0;
  color: #ffffff;
  right: 0;
  background-color: #9880ba;
  /*blue #00ddff;*/
  font-size: 1.4em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;*/
}

/* line 118, ../sass/style.scss */
ul#user-nav {
  padding: 0;
}

/* line 121, ../sass/style.scss */
ul#user-nav li:first-child {
  border: none;
}

/* line 124, ../sass/style.scss */
#user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 49px;
  width: 49px;
}

/* line 133, ../sass/style.scss */
#user-name {
  position: relative;
  float: left;
  display: block;
  padding: 0.5em;
}

/*BOTTOM NAV*/
/* line 141, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 3.5em;
}

/* line 145, ../sass/style.scss */
#bottom-bar {
  height: 3.5em;
  bottom: 0;
  width: 100%;
  background-color: #322e10;
  opacity: 0.7;
  z-index: 180;
  position: absolute;
  -moz-box-shadow: 3px -3px 7px #888888;
  -webkit-box-shadow: 3px -3px 7px #888888;
}

/*PORTRAIT NAV*/
/* line 159, ../sass/style.scss */
#portrait-nav {
  bottom: 0;
  height: 3.5em;
  position: relative;
  display: block;
  float: left;
  z-index: 200;
  	/*-moz-box-shadow: 3px -3px 7px #888;
    	-webkit-box-shadow: 3px -3px 7px #888;*/
  /*  -moz-border-radius-bottomright: 15px;
    	-webkit-border-bottom-right-radius: 15px;*/
}

/* line 171, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 179, ../sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 186, ../sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 190, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 2.8em;
  width: 2.8em;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 206, ../sass/style.scss */
#portrait-nav img.selected {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 210, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "atrament-web", sans-serif;
  font-size: 1em;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 229, ../sass/style.scss */
#portrait-nav ul li:hover .pop, #control-nav ul li:hover .pop {
  display: block;
}

/* line 232, ../sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 236, ../sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 239, ../sass/style.scss */
.pop a.name {
  font-family: "atrament-web", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* line 244, ../sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: .8em Georgia;
}

/*CONTROL NAV*/
/* line 251, ../sass/style.scss */
#control-nav {
  bottom: 0;
  display: block;
  margin: -0.5em 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 3.5em;
  float: left;
}

/* line 261, ../sass/style.scss */
#control-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
  padding-top: 0;
  margin-top: 0;
}

/* line 269, ../sass/style.scss */
img.mapbtn:hover {
  background-color: #9880ba;
}

/* line 273, ../sass/style.scss */
#control-nav ul li a {
  color: #9880ba;
  text-decoration: none;
}

/* line 277, ../sass/style.scss */
img.mapbtn {
  background-color: #322e10;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 2.8em;
  width: 2.8em;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border: none;
}

/* line 292, ../sass/style.scss */
#control-nav .pop {
  width: 100px;
}

/* line 295, ../sass/style.scss */
#control-nav .selected {
  background-color: #9880ba;
  -moz-box-shadow: inset 0 0 10px #aaa;
  -webkit-box-shadow: inset 0 0 10px #aaa;
  box-shadow: inset 0 0 10px #aaa;
}

/* MAIN-NAV */
/* line 303, ../sass/style.scss */
#main-nav {
  bottom: 0;
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 3.5em;
  float: left;
}

/* line 313, ../sass/style.scss */
#main-nav ul li {
  display: block;
  float: left;
  font-size: 1.2em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0.2em 0;
}

/* line 322, ../sass/style.scss */
#main-nav ul li a {
  color: #9880ba;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-right: 1px solid #9880ba;
}

/* TIME-NAV */
/* line 329, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 3.5em;
  float: left;
}

/* line 339, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  font-size: 1.2em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0.2em 0;
}

/* line 348, ../sass/style.scss */
#time-nav ul li a {
  color: #9880ba;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

/* SIDEBAR */
/* line 356, ../sass/style.scss */
#sidebar {
  position: fixed;
  background-color: #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
}

/* line 366, ../sass/style.scss */
#sidebar-nav ul {
  margin: 70px auto auto -65px;
}

/* line 369, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 372, ../sass/style.scss */
#sidebar-nav ul li img {
  width: 25px;
  height: 25px;
  background-color: #9880ba;
}

/* line 377, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 70px;
  margin: 0 10px 50px 20px;
}

/* line 382, ../sass/style.scss */
#sidebar .title {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

/* line 387, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}

/* line 393, ../sass/style.scss */
#leaderboard table {
  border-spacing: 0px;
  margin-top: 0px;
}

/* line 397, ../sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}

/* line 401, ../sass/style.scss */
#leaderboard table thead tr td, #leaderboard table tfoot tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
}

/* line 412, ../sass/style.scss */
#leaderboard table thead tr th, #leaderboard table tfoot tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 140px;
  float: left;
  display: table-cell;
}

/* line 421, ../sass/style.scss */
#leaderboard table tfoot tr th p {
  margin-top: 5px;
  margin-bottom: auto;
}

/* line 425, ../sass/style.scss */
#leaderboard table tfoot tr {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* line 430, ../sass/style.scss */
#leaderboard table tfoot tr td {
  float: left;
  font-size: 1.4em;
}

/* line 434, ../sass/style.scss */
#leaderboard .highlighted {
  width: 360px;
  height: 20px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #322e10;
  color: #fff;
  text-align: left;
  display: block;
}

/* line 445, ../sass/style.scss */
#leaderboard .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* COMMENTARY */
/* line 503, ../sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #9880ba;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
}

/* line 515, ../sass/style.scss */
#time-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .6em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 521, ../sass/style.scss */
#time-bar a {
  color: #9880ba;
  font-style: normal;
}
