/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 31, ../sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 42, ../sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 43, ../sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 44, ../sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 46, ../sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 48, ../sass/style.scss */
canvas#processing {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 57, ../sass/style.scss */
canvas#line-chart {
  margin-top: 0px;
  margin-left: 0px;
  width: 400px;
  height: 200px;
  display: block;
  position: relative;
  z-index: 1000;
}

/* line 67, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* GENERIC HELPFUL STUFFS */
/* line 76, ../sass/style.scss */
.link {
  cursor: pointer;
}

/* line 77, ../sass/style.scss */
.non-text {
  cursor: default;
}

/* NAV TOP */
/* line 81, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 88, ../sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 100, ../sass/style.scss */
#logo.user-color {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 3px 0 0 0;
  padding: 0 0 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "vinyl", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

/* line 119, ../sass/style.scss */
#service-nav {
  font-family: "futura-pt-condensed";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 130, ../sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
}
/* line 134, ../sass/style.scss */
#service-nav ul li a {
  text-decoration: none;
}
/* line 136, ../sass/style.scss */
#service-nav ul li.user-bottomcolor.selectedLink {
  border-bottom: 2px solid;
  border-bottom-color: #0bb7ab;
}
/* line 141, ../sass/style.scss */
#service-nav #menu-nav {
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 80px;
  position: relative;
}
/* line 146, ../sass/style.scss */
#service-nav #menu-nav li {
  margin: 0 25px 0 0;
}
/* line 148, ../sass/style.scss */
#service-nav #menu-nav li a.user-color {
  color: #0bb7ab;
}
/* line 151, ../sass/style.scss */
#service-nav #menu-nav li a.user-bottomcolor:hover {
  border-bottom: 2px solid;
  border-bottom-color: #0bb7ab;
}
/* line 158, ../sass/style.scss */
#service-nav #user-nav {
  font-family: "vinyl", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  position: absolute;
  margin: -14px 10px 0 0;
  padding: 0;
  right: 0px;
}
/* line 168, ../sass/style.scss */
#service-nav #user-nav .you {
  margin: -3px 20px 0px 10px;
  padding: 3px 3px 30px 3px;
}
/* line 171, ../sass/style.scss */
#service-nav #user-nav .you .user-avatar {
  display: block;
  float: left;
  margin: 0px 8px 10px 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
}
/* line 179, ../sass/style.scss */
#service-nav #user-nav .you .menu-link {
  position: relative;
  float: left;
  padding: 0px;
  color: #1f1f1f;
  /*background-color: $yourColor;*/
  line-height: 20px;
}
/* line 186, ../sass/style.scss */
#service-nav #user-nav .you .menu-link:hover {
  border-bottom: 2px solid #1f1f1f;
}
/* line 189, ../sass/style.scss */
#service-nav #user-nav .you #login-form {
  display: none;
  clear: both;
  background-color: white;
}
/* line 195, ../sass/style.scss */
#service-nav #user-nav .you:hover .dropdown {
  display: block;
}
/* line 196, ../sass/style.scss */
#service-nav #user-nav .you .dropdown {
  display: none;
  position: absolute;
  top: 17px;
  right: 10px;
  margin-top: 10px;
  width: 125px;
}
/* line 203, ../sass/style.scss */
#service-nav #user-nav .you .dropdown .menu-item.user-bgcolor {
  clear: both;
  cursor: pointer;
  margin: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 7px;
  width: 100%;
  background-color: #0bb7ab;
  color: white;
  font-size: 18px;
}
/* line 214, ../sass/style.scss */
#service-nav #user-nav .you .dropdown .menu-item.user-dark-bgcolor:hover {
  background-color: #08877e;
}

/* line 222, ../sass/style.scss */
.wrong-login {
  color: red;
  display: none;
}

/* line 227, ../sass/style.scss */
#animation-clock-OLD {
  position: fixed;
  z-index: 200;
  bottom: 35px;
  width: 392px;
  right: 0px;
  display: block;
  background-color: black;
  padding: 5px;
  color: white;
  font-family: monospace;
}

/* line 240, ../sass/style.scss */
#animation-clock {
  position: fixed;
  z-index: 200;
  bottom: 35px;
  width: 392px;
  right: 0px;
  display: block;
  padding: 5px;
  background-color: #fff;
  opacity: 0.6;
  color: #1f1f1f;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
}

/*BOTTOM NAV*/
/* line 257, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  /*font-weight: bold;*/
  font-size: 16px;
}

/* line 265, ../sass/style.scss */
#bottom-bar.user-bgcolor {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 280, ../sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
  /*.mapSelect.selected img.mapbtn  IS THIS DOING ANYTHING, OR CAN IT BE DELETED?
  {
  	border-top: 2em solid #fff; 
  	margin-top: -1.5em;
  }*/
}
/* line 287, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}
/* line 294, ../sass/style.scss */
#portrait-nav ul .portrait {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}
/* line 299, ../sass/style.scss */
#portrait-nav ul .portrait a {
  color: #ffffff;
  text-decoration: none;
}
/* line 303, ../sass/style.scss */
#portrait-nav ul .portrait .filter {
  position: absolute;
  width: 45px;
  height: 55px;
  background-color: #fff;
  opacity: .6;
  z-index: 102;
}
/* line 311, ../sass/style.scss */
#portrait-nav ul .portrait:hover .filter {
  display: none;
}
/* line 312, ../sass/style.scss */
#portrait-nav ul .portrait:hover .pop {
  display: block;
}
/* line 314, ../sass/style.scss */
#portrait-nav ul .portrait.selected .filter {
  display: none;
}

/* line 323, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 338, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: 0px;
  text-transform: none;
  /*top: -5.2em;*/
  bottom: 55px;
  width: 140px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "futura-pt-condensed";
  font-size: 14px;
  padding: 5px;
  	/*-moz-border-radius-topleft: .8em;
    	-webkit-border-top-left-radius: .8em;
  	-moz-border-radius-topright: .8em;
    	-webkit-border-top-right-radius: .8em;
  	-moz-border-radius-bottomright: .8em;
    	-webkit-border-bottom-right-radius: .8em;*/
}

/* line 359, ../sass/style.scss */
.pop a.name {
  font-family: "vinyl", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  line-height: 18px;
}

/* line 366, ../sass/style.scss */
.pop-nav {
  text-transform: none;
  padding-top: 20px;
  font: 14px "futura-pt-condensed";
}

/*MAP NAV*/
/* line 374, ../sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -16px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 384, ../sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 387, ../sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 391, ../sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 400, ../sass/style.scss */
#map-nav ul li a.user-color {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 404, ../sass/style.scss */
#map-nav ul li a.user-color img.mapbtn {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 414, ../sass/style.scss */
#map-nav ul li a.user-color img.mapbtn.user-dark-bgcolor:hover {
  background-color: #08877e;
}
/* line 419, ../sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 423, ../sass/style.scss */
#map-nav ul li.selected img.mapbtn.user-dark-bgcolor {
  background-color: #08877e;
}
/* line 426, ../sass/style.scss */
#map-nav ul li:hover .pop {
  display: block;
}

/* PORTRAIT-CONTROL-NAV */
/* line 433, ../sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -6px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 443, ../sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
}
/* line 446, ../sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 451, ../sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 457, ../sass/style.scss */
#portrait-control-nav ul li.user-dark-bgcolor.selectedLink {
  background-color: #08877e;
}
/* line 460, ../sass/style.scss */
#portrait-control-nav ul li.user-dark-bgcolor:hover {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 467, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -12px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 477, ../sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 481, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 487, ../sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 492, ../sass/style.scss */
#time-nav ul li a.user-dark-bgcolor:hover {
  background-color: #08877e;
}
/* line 495, ../sass/style.scss */
#time-nav ul li a.user-dark-bgcolor.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 504, ../sass/style.scss */
#time-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 510, ../sass/style.scss */
#time-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 516, ../sass/style.scss */
#time-nav ul li a#animate:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 522, ../sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: right;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* line 545, ../sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 549, ../sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}
/* line 552, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}
/* line 554, ../sass/style.scss */
#sidebar-nav ul li a img.user-bgcolor {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}
/* line 559, ../sass/style.scss */
#sidebar-nav ul li a img.user-dark-bgcolor:hover {
  background-color: #08877e;
}

/* line 564, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 570, ../sass/style.scss */
#sidebar .title {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 34px;
}
/* line 575, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}
/* line 580, ../sass/style.scss */
#sidebar #stats-profile img.stats-avatar {
  width: 87px;
  height: 87px;
  margin-bottom: -5px;
}
/* line 581, ../sass/style.scss */
#sidebar #stats-versus img.stats-avatar {
  width: 87px;
  height: 87px;
  margin-bottom: -5px;
}
/* line 582, ../sass/style.scss */
#sidebar .stats-color {
  height: 5px;
  width: 360px;
  margin-left: 2px;
  margin-top: -8px;
}
/* line 588, ../sass/style.scss */
#sidebar .stats-duration {
  text-transform: normal;
  font-family: "futura-pt-condensed";
  font-weight: 300;
  font-size: 16px;
  color: #999999;
  margin-left: 2px;
}

/* LEADERBOARD */
/* line 626, ../sass/style.scss */
.sidebar-content {
  /*End table*/
}
/* line 627, ../sass/style.scss */
.sidebar-content table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tbody*/
}
/* line 631, ../sass/style.scss */
.sidebar-content table thead {
  margin-top: 5px;
  width: 360px;
  display: block;
}
/* line 638, ../sass/style.scss */
.sidebar-content table thead tr td {
  width: 90px;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 650, ../sass/style.scss */
.sidebar-content table thead tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  width: 90px;
  font-weight: 400;
  text-align: left;
  /*width: 150px;*/
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 666, ../sass/style.scss */
.sidebar-content table tbody {
  /* End tr*/
}
/* line 667, ../sass/style.scss */
.sidebar-content table tbody tr {
  width: 360px;
  margin: 0;
  padding: 0;
}
/* line 672, ../sass/style.scss */
.sidebar-content table tbody tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  width: 360px;
  display: block;
  margin-bottom: -10px;
  margin-top: 5px;
  border-bottom: 5px solid #ccc;
}
/* line 688, ../sass/style.scss */
.sidebar-content table tbody tr th p.stats-name {
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 16px;
  padding-right: 190px;
  text-transform: uppercase;
  line-height: 10px;
}
/* line 697, ../sass/style.scss */
.sidebar-content table tbody tr td {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: -27px;
  margin-bottom: -3px;
  padding: 0;
  display: table-cell;
  text-align: right;
  float: left;
  font-size: 18px;
  width: 82px;
  border-right: 1px solid #ccc;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 8px;
}
/* line 719, ../sass/style.scss */
.sidebar-content table tbody tr td.stats-last-week {
  display: table-cell;
  width: 180px;
}
/* line 723, ../sass/style.scss */
.sidebar-content table tbody tr td.stats-total-miles {
  margin-top: -44px;
  vertical-align: bottom;
  padding-right: 0px;
  width: 80px;
  border-right: 0px solid #1f1f1f;
}
/* line 731, ../sass/style.scss */
.sidebar-content table tbody tr .emph {
  font-size: 40px;
  text-align: right;
  font-weight: 600;
}
/* line 740, ../sass/style.scss */
.sidebar-content table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 751, ../sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* STATS PROFILE */
/* line 758, ../sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* line 761, ../sass/style.scss */
#stats-profile.sidebar-content table tbody tr th {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

/* STATS PROFILE VS PROFILE */
/* line 769, ../sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* line 773, ../sass/style.scss */
#stats-versus.sidebar-content table tbody tr th {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

/* COMMENTARY */
/* line 780, ../sass/style.scss */
#commentary.user-color {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 360px;
  height: auto;
  margin: 90px 0 0 20px;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

/* line 794, ../sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: 22px;
  font-style: normal;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 801, ../sass/style.scss */
#twitter-bar a.user-color {
  color: #0bb7ab;
  font-style: normal;
}

/* line 805, ../sass/style.scss */
#commentary ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 812, ../sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 20px;
  font-size: 14px;
}
