/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 31, ../sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 42, ../sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 43, ../sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 44, ../sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 46, ../sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 48, ../sass/style.scss */
canvas#processing {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 57, ../sass/style.scss */
canvas#line-chart {
  margin-top: 0px;
  margin-left: 0px;
  width: 400px;
  height: 200px;
  display: block;
  position: relative;
  z-index: 1000;
}

/* line 67, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 76, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 83, ../sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 95, ../sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 3px 0 0 0;
  padding: 0 0 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "vinyl", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

/* line 114, ../sass/style.scss */
#service-nav {
  font-family: "futura-pt-condensed";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 126, ../sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
}
/* line 131, ../sass/style.scss */
#service-nav ul li a {
  text-decoration: none;
}
/* line 135, ../sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}
/* line 139, ../sass/style.scss */
#service-nav #menu-nav {
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 80px;
  position: relative;
}
/* line 145, ../sass/style.scss */
#service-nav #menu-nav li {
  margin: 0 25px 0 0;
}
/* line 148, ../sass/style.scss */
#service-nav #menu-nav li a {
  color: #0bb7ab;
}
/* line 151, ../sass/style.scss */
#service-nav #menu-nav li a:hover {
  border-bottom: 2px solid #0bb7ab;
}
/* line 158, ../sass/style.scss */
#service-nav #user-nav {
  font-family: "futura-pt-condensed";
  text-transform: none;
  line-height: 20px;
  position: absolute;
  padding: 0;
  margin: -14px 10px 0 0;
  right: 0px;
}
/* line 167, ../sass/style.scss */
#service-nav #user-nav li {
  margin: 0 25px 0 0;
}
/* line 170, ../sass/style.scss */
#service-nav #user-nav li a {
  color: #1f1f1f;
}
/* line 173, ../sass/style.scss */
#service-nav #user-nav li a:hover {
  border-bottom: 2px solid #1f1f1f;
}
/* line 179, ../sass/style.scss */
#service-nav #user-nav #you {
  font-family: "futura-pt-condensed";
  display: block;
  text-transform: none;
  margin-top: -3px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 3px;
}
/* line 187, ../sass/style.scss */
#service-nav #user-nav #you #user-links {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 125px;
  margin-top: 10px;
}
/* line 194, ../sass/style.scss */
#service-nav #user-nav #you #user-links li {
  display: block;
  width: 100%;
  clear: both;
  margin: 0;
  background: #0bb7ab;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 7px;
}
/* line 202, ../sass/style.scss */
#service-nav #user-nav #you #user-links li a {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 100%;
}
/* line 208, ../sass/style.scss */
#service-nav #user-nav #you #user-links li a:hover {
  border-bottom: none;
}
/* line 212, ../sass/style.scss */
#service-nav #user-nav #you #user-links li:hover {
  background: #08877e;
}
/* line 217, ../sass/style.scss */
#service-nav #user-nav #you #user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0px 8px 10px 0px;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
}
/* line 228, ../sass/style.scss */
#service-nav #user-nav #you #user-name {
  color: #1f1f1f;
  position: relative;
  float: left;
  display: block;
  padding: 0px;
  line-height: 20px;
  /*background-color: $yourColor;*/
}

/*#you:hover {
	background-color: $yourColor;
	}*/
/* line 245, ../sass/style.scss */
#user-links.hidden {
  /*display: none;*/
}

/* line 248, ../sass/style.scss */
#you:hover .dropdown {
  display: block;
}

/* line 251, ../sass/style.scss */
#user-links.dropdown {
  display: none;
}

/* line 255, ../sass/style.scss */
#animation-clock {
  position: fixed;
  top: 35px;
  display: none;
  background-color: black;
  padding: 6px;
  color: white;
  font-family: monospace;
}

/*BOTTOM NAV*/
/* line 267, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 274, ../sass/style.scss */
#bottom-bar {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 289, ../sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
  /*.mapSelect.selected img.mapbtn  IS THIS DOING ANYTHING, OR CAN IT BE DELETED?
  {
  	border-top: 2em solid #fff; 
  	margin-top: -1.5em;
  }*/
}
/* line 296, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}
/* line 303, ../sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}
/* line 308, ../sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 312, ../sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}
/* line 315, ../sass/style.scss */
#portrait-nav ul li .filter {
  position: absolute;
  width: 45px;
  height: 55px;
  background-color: #fff;
  opacity: .6;
  z-index: 102;
}
/* line 325, ../sass/style.scss */
#portrait-nav ul li:hover .filter {
  display: none;
}
/* line 329, ../sass/style.scss */
#portrait-nav ul li:hover .pop {
  display: block;
}
/* line 334, ../sass/style.scss */
#portrait-nav ul li.selected .filter {
  display: none;
}

/* line 346, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 361, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "futura-pt-condensed";
  font-size: 14px;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 381, ../sass/style.scss */
.pop a.name {
  font-family: "futura-pt-condensed";
  font-size: 16px;
  text-transform: uppercase;
}

/* line 386, ../sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: 14px "ff-tisa-web-pro", Georgia, serif;
}

/*MAP NAV*/
/* line 393, ../sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -14px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 403, ../sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 406, ../sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 410, ../sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 419, ../sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 423, ../sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 434, ../sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #08877e;
}
/* line 439, ../sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 443, ../sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #08877e;
}
/* line 446, ../sass/style.scss */
#map-nav ul li:hover .pop {
  display: block;
}

/* PORTRAIT-CONTROL-NAV */
/* line 453, ../sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 463, ../sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
}
/* line 466, ../sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 472, ../sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 477, ../sass/style.scss */
#portrait-control-nav ul li a:hover {
  background-color: #08877e;
}
/* line 481, ../sass/style.scss */
#portrait-control-nav ul li.selectedLink {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 488, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 498, ../sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 502, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 508, ../sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 513, ../sass/style.scss */
#time-nav ul li a:hover {
  background-color: #08877e;
}
/* line 516, ../sass/style.scss */
#time-nav ul li a.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 525, ../sass/style.scss */
#time-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 531, ../sass/style.scss */
#time-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 537, ../sass/style.scss */
#time-nav ul li a#animate:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 543, ../sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: right;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* line 564, ../sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 568, ../sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}

/* line 572, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 575, ../sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 580, ../sass/style.scss */
#sidebar-nav ul li a img:hover {
  background-color: #08877e;
}

/* line 583, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 589, ../sass/style.scss */
#sidebar .title {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 34px;
}
/* line 594, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}
/* line 599, ../sass/style.scss */
#sidebar #stats-profile img.stats-avatar {
  width: 87px;
  height: 87px;
}
/* line 600, ../sass/style.scss */
#sidebar #stats-versus img.stats-avatar {
  width: 50px;
  height: 50px;
}
/* line 601, ../sass/style.scss */
#sidebar .stats-color {
  height: 5px;
}
/* line 604, ../sass/style.scss */
#sidebar .stats-duration {
  text-transform: uppercase;
}

/* LEADERBOARD */
/* line 637, ../sass/style.scss */
#leaderboard, #stats-profile, #stats-versus {
  /*End table*/
}
/* line 638, ../sass/style.scss */
#leaderboard table, #stats-profile table, #stats-versus table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tbody*/
}
/* line 642, ../sass/style.scss */
#leaderboard table thead, #stats-profile table thead, #stats-versus table thead {
  margin-top: 5px;
  width: 360px;
  display: block;
}
/* line 649, ../sass/style.scss */
#leaderboard table thead tr td, #stats-profile table thead tr td, #stats-versus table thead tr td {
  width: 90px;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 661, ../sass/style.scss */
#leaderboard table thead tr th, #stats-profile table thead tr th, #stats-versus table thead tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  width: 90px;
  font-weight: 400;
  text-align: left;
  /*width: 150px;*/
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 677, ../sass/style.scss */
#leaderboard table tbody, #stats-profile table tbody, #stats-versus table tbody {
  /* End tr*/
}
/* line 678, ../sass/style.scss */
#leaderboard table tbody tr, #stats-profile table tbody tr, #stats-versus table tbody tr {
  width: 360px;
  margin: 0;
  padding: 0;
}
/* line 683, ../sass/style.scss */
#leaderboard table tbody tr th, #stats-profile table tbody tr th, #stats-versus table tbody tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  width: 360px;
  display: block;
  margin-bottom: -10px;
  margin-top: 5px;
  border-bottom: 5px solid #ccc;
}
/* line 699, ../sass/style.scss */
#leaderboard table tbody tr th p.stats-name, #stats-profile table tbody tr th p.stats-name, #stats-versus table tbody tr th p.stats-name {
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 16px;
  padding-right: 190px;
  text-transform: uppercase;
  line-height: 10px;
}
/* line 708, ../sass/style.scss */
#leaderboard table tbody tr td, #stats-profile table tbody tr td, #stats-versus table tbody tr td {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: -27px;
  margin-bottom: -3px;
  padding: 0;
  display: table-cell;
  text-align: right;
  float: left;
  font-size: 18px;
  width: 82px;
  border-right: 1px solid #ccc;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 8px;
}
/* line 730, ../sass/style.scss */
#leaderboard table tbody tr td.stats-last-week, #stats-profile table tbody tr td.stats-last-week, #stats-versus table tbody tr td.stats-last-week {
  display: table-cell;
  width: 180px;
}
/* line 734, ../sass/style.scss */
#leaderboard table tbody tr td.stats-total-miles, #stats-profile table tbody tr td.stats-total-miles, #stats-versus table tbody tr td.stats-total-miles {
  margin-top: -44px;
  vertical-align: bottom;
  padding-right: 0px;
  width: 80px;
  border-right: 0px solid #1f1f1f;
}
/* line 742, ../sass/style.scss */
#leaderboard table tbody tr .emph, #stats-profile table tbody tr .emph, #stats-versus table tbody tr .emph {
  font-size: 40px;
  text-align: right;
  font-weight: 600;
}
/* line 751, ../sass/style.scss */
#leaderboard table .avatar, #stats-profile table .avatar, #stats-versus table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 762, ../sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* STATS PROFILE */
/* line 772, ../sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* STATS PROFILE VS PROFILE */
/* line 781, ../sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* COMMENTARY */
/* line 785, ../sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

/* line 799, ../sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 805, ../sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}

/* line 810, ../sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 40px;
  font-size: 14px;
}
