/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 31, ../sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 42, ../sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 43, ../sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 44, ../sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 46, ../sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 48, ../sass/style.scss */
canvas#processing {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 57, ../sass/style.scss */
canvas#line-chart {
  margin-top: 0px;
  margin-left: 0px;
  width: 400px;
  height: 200px;
  display: block;
  position: relative;
  z-index: 1000;
}

/* line 67, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* GENERIC HELPFUL STUFFS */
/* line 76, ../sass/style.scss */
.link {
  cursor: pointer;
}

/* line 77, ../sass/style.scss */
.non-text {
  cursor: default;
}

/* NAV TOP */
/* line 81, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 88, ../sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 100, ../sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 3px 0 0 0;
  padding: 0 0 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "vinyl", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

/* line 119, ../sass/style.scss */
#service-nav {
  font-family: "futura-pt-condensed";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 131, ../sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
}
/* line 136, ../sass/style.scss */
#service-nav ul li a {
  text-decoration: none;
}
/* line 140, ../sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}
/* line 144, ../sass/style.scss */
#service-nav #menu-nav {
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 80px;
  position: relative;
}
/* line 150, ../sass/style.scss */
#service-nav #menu-nav li {
  margin: 0 25px 0 0;
}
/* line 153, ../sass/style.scss */
#service-nav #menu-nav li a {
  color: #0bb7ab;
}
/* line 156, ../sass/style.scss */
#service-nav #menu-nav li a:hover {
  border-bottom: 2px solid #0bb7ab;
}
/* line 163, ../sass/style.scss */
#service-nav #user-nav {
  font-family: "futura-pt-condensed";
  line-height: 20px;
  position: absolute;
  margin: -14px 10px 0 0;
  padding: 0;
  right: 0px;
}
/* line 171, ../sass/style.scss */
#service-nav #user-nav .you {
  margin: -3px 20px 0px 10px;
  padding: 3px 3px 30px 3px;
}
/* line 174, ../sass/style.scss */
#service-nav #user-nav .you .user-avatar {
  display: block;
  float: left;
  margin: 0px 8px 10px 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
}
/* line 182, ../sass/style.scss */
#service-nav #user-nav .you .menu-link {
  position: relative;
  float: left;
  padding: 0px;
  color: #1f1f1f;
  /*background-color: $yourColor;*/
  line-height: 20px;
}
/* line 189, ../sass/style.scss */
#service-nav #user-nav .you .menu-link:hover {
  border-bottom: 2px solid #1f1f1f;
}
/* line 192, ../sass/style.scss */
#service-nav #user-nav .you #login-form {
  display: none;
  clear: both;
  background-color: white;
}
/* line 198, ../sass/style.scss */
#service-nav #user-nav .you:hover .dropdown {
  display: block;
}
/* line 199, ../sass/style.scss */
#service-nav #user-nav .you .dropdown {
  display: none;
  position: absolute;
  top: 17px;
  right: 10px;
  margin-top: 10px;
  width: 125px;
}
/* line 206, ../sass/style.scss */
#service-nav #user-nav .you .dropdown .menu-item {
  clear: both;
  cursor: pointer;
  margin: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 7px;
  width: 100%;
  background-color: #0bb7ab;
  color: white;
  font-size: 18px;
}
/* line 214, ../sass/style.scss */
#service-nav #user-nav .you .dropdown .menu-item:hover {
  background-color: #08877e;
}

/* line 223, ../sass/style.scss */
.wrong-login {
  color: red;
  display: none;
}

/* line 228, ../sass/style.scss */
#animation-clock {
  position: fixed;
  top: 35px;
  display: none;
  background-color: black;
  padding: 6px;
  color: white;
  font-family: monospace;
}

/*BOTTOM NAV*/
/* line 240, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 247, ../sass/style.scss */
#bottom-bar {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 262, ../sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
  /*.mapSelect.selected img.mapbtn  IS THIS DOING ANYTHING, OR CAN IT BE DELETED?
  {
  	border-top: 2em solid #fff; 
  	margin-top: -1.5em;
  }*/
}
/* line 269, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}
/* line 276, ../sass/style.scss */
#portrait-nav ul .portrait {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}
/* line 281, ../sass/style.scss */
#portrait-nav ul .portrait a {
  color: #ffffff;
  text-decoration: none;
}
/* line 285, ../sass/style.scss */
#portrait-nav ul .portrait .filter {
  position: absolute;
  width: 45px;
  height: 55px;
  background-color: #fff;
  opacity: .6;
  z-index: 102;
}
/* line 293, ../sass/style.scss */
#portrait-nav ul .portrait:hover .filter {
  display: none;
}
/* line 294, ../sass/style.scss */
#portrait-nav ul .portrait:hover .pop {
  display: block;
}
/* line 296, ../sass/style.scss */
#portrait-nav ul .portrait.selected .filter {
  display: none;
}

/* line 305, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 320, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "futura-pt-condensed";
  font-size: 14px;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 340, ../sass/style.scss */
.pop a.name {
  font-family: "futura-pt-condensed";
  font-size: 16px;
  text-transform: uppercase;
}

/* line 345, ../sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: 14px "ff-tisa-web-pro", Georgia, serif;
}

/*MAP NAV*/
/* line 352, ../sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -14px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 362, ../sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 365, ../sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 369, ../sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 378, ../sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 382, ../sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 393, ../sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #08877e;
}
/* line 398, ../sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 402, ../sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #08877e;
}
/* line 405, ../sass/style.scss */
#map-nav ul li:hover .pop {
  display: block;
}

/* PORTRAIT-CONTROL-NAV */
/* line 412, ../sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 422, ../sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
}
/* line 425, ../sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 431, ../sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 436, ../sass/style.scss */
#portrait-control-nav ul li a:hover {
  background-color: #08877e;
}
/* line 440, ../sass/style.scss */
#portrait-control-nav ul li.selectedLink {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 447, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 457, ../sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 461, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 467, ../sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 472, ../sass/style.scss */
#time-nav ul li a:hover {
  background-color: #08877e;
}
/* line 475, ../sass/style.scss */
#time-nav ul li a.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 484, ../sass/style.scss */
#time-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 490, ../sass/style.scss */
#time-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 496, ../sass/style.scss */
#time-nav ul li a#animate:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 502, ../sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*@include box-shadow(inset 10px 3px 7px rgba(0,0,0, .1)); scss shadow that doesn't work anymore?*/
  box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: right;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* line 526, ../sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 530, ../sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}

/* line 534, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 537, ../sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 542, ../sass/style.scss */
#sidebar-nav ul li a img:hover {
  background-color: #08877e;
}

/* line 545, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 551, ../sass/style.scss */
#sidebar .title {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 34px;
}
/* line 556, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}
/* line 561, ../sass/style.scss */
#sidebar #stats-profile img.stats-avatar {
  width: 87px;
  height: 87px;
}
/* line 562, ../sass/style.scss */
#sidebar #stats-versus img.stats-avatar {
  width: 50px;
  height: 50px;
}
/* line 563, ../sass/style.scss */
#sidebar .stats-color {
  height: 5px;
}
/* line 566, ../sass/style.scss */
#sidebar .stats-duration {
  text-transform: uppercase;
}

/* LEADERBOARD */
/* line 599, ../sass/style.scss */
.sidebar-content {
  /*End table*/
}
/* line 600, ../sass/style.scss */
.sidebar-content table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tbody*/
}
/* line 604, ../sass/style.scss */
.sidebar-content table thead {
  margin-top: 5px;
  width: 360px;
  display: block;
}
/* line 611, ../sass/style.scss */
.sidebar-content table thead tr td {
  width: 90px;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 623, ../sass/style.scss */
.sidebar-content table thead tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  width: 90px;
  font-weight: 400;
  text-align: left;
  /*width: 150px;*/
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 639, ../sass/style.scss */
.sidebar-content table tbody {
  /* End tr*/
}
/* line 640, ../sass/style.scss */
.sidebar-content table tbody tr {
  width: 360px;
  margin: 0;
  padding: 0;
}
/* line 645, ../sass/style.scss */
.sidebar-content table tbody tr th {
  font-family: "vinyl", sans-serif;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  width: 360px;
  display: block;
  margin-bottom: -10px;
  margin-top: 5px;
  border-bottom: 5px solid #ccc;
}
/* line 661, ../sass/style.scss */
.sidebar-content table tbody tr th p.stats-name {
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 16px;
  padding-right: 190px;
  text-transform: uppercase;
  line-height: 10px;
}
/* line 670, ../sass/style.scss */
.sidebar-content table tbody tr td {
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: -27px;
  margin-bottom: -3px;
  padding: 0;
  display: table-cell;
  text-align: right;
  float: left;
  font-size: 18px;
  width: 82px;
  border-right: 1px solid #ccc;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 8px;
}
/* line 692, ../sass/style.scss */
.sidebar-content table tbody tr td.stats-last-week {
  display: table-cell;
  width: 180px;
}
/* line 696, ../sass/style.scss */
.sidebar-content table tbody tr td.stats-total-miles {
  margin-top: -44px;
  vertical-align: bottom;
  padding-right: 0px;
  width: 80px;
  border-right: 0px solid #1f1f1f;
}
/* line 704, ../sass/style.scss */
.sidebar-content table tbody tr .emph {
  font-size: 40px;
  text-align: right;
  font-weight: 600;
}
/* line 713, ../sass/style.scss */
.sidebar-content table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 724, ../sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* STATS PROFILE */
/* line 734, ../sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* STATS PROFILE VS PROFILE */
/* line 743, ../sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* COMMENTARY */
/* line 747, ../sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 380px;
  height: auto;
  margin: 90px 0 0 20px;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

/* line 761, ../sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: 22px;
  font-style: normal;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* line 768, ../sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}

/* line 772, ../sass/style.scss */
#commentary ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 779, ../sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 20px;
  font-size: 14px;
}
