/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 30, ../sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 41, ../sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 42, ../sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 43, ../sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 45, ../sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 47, ../sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 57, ../sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 66, ../sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 73, ../sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 85, ../sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 3px 0 0 0;
  padding: 0 0 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "atrament-web", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

/* line 104, ../sass/style.scss */
#service-nav {
  font-family: "futura-pt-condensed";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 116, ../sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
}
/* line 121, ../sass/style.scss */
#service-nav ul li a {
  text-decoration: none;
}
/* line 125, ../sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}
/* line 129, ../sass/style.scss */
#service-nav #menu-nav {
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 65px;
  position: relative;
}
/* line 135, ../sass/style.scss */
#service-nav #menu-nav li {
  margin: 0 25px 0 0;
}
/* line 138, ../sass/style.scss */
#service-nav #menu-nav li a {
  color: #0bb7ab;
}
/* line 141, ../sass/style.scss */
#service-nav #menu-nav li a:hover {
  border-bottom: 2px solid #0bb7ab;
}
/* line 148, ../sass/style.scss */
#service-nav #user-nav {
  font-family: "futura-pt-condensed";
  text-transform: none;
  line-height: 20px;
  position: absolute;
  padding: 0;
  margin: -14px 10px 0 0;
  right: 0px;
}
/* line 157, ../sass/style.scss */
#service-nav #user-nav li {
  margin: 0 25px 0 0;
}
/* line 160, ../sass/style.scss */
#service-nav #user-nav li a {
  color: #1f1f1f;
}
/* line 163, ../sass/style.scss */
#service-nav #user-nav li a:hover {
  border-bottom: 2px solid #1f1f1f;
}
/* line 168, ../sass/style.scss */
#service-nav #user-nav #invite {
  border-right: 1px solid #1f1f1f;
  padding-right: 20px;
  margin-right: 0px;
}
/* line 173, ../sass/style.scss */
#service-nav #user-nav #you {
  font-family: "futura-pt-condensed";
  display: block;
  text-transform: none;
  margin-top: -3px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 3px;
}
/* line 181, ../sass/style.scss */
#service-nav #user-nav #you #user-links {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 125px;
  margin-top: 10px;
}
/* line 188, ../sass/style.scss */
#service-nav #user-nav #you #user-links li {
  display: block;
  width: 100%;
  clear: both;
  margin: 0;
  background: #0bb7ab;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 7px;
}
/* line 196, ../sass/style.scss */
#service-nav #user-nav #you #user-links li a {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 100%;
}
/* line 202, ../sass/style.scss */
#service-nav #user-nav #you #user-links li a:hover {
  border-bottom: none;
}
/* line 206, ../sass/style.scss */
#service-nav #user-nav #you #user-links li:hover {
  background: #08877e;
}
/* line 211, ../sass/style.scss */
#service-nav #user-nav #you #user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0px 8px 10px 0px;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
}
/* line 222, ../sass/style.scss */
#service-nav #user-nav #you #user-name {
  color: #1f1f1f;
  position: relative;
  float: left;
  display: block;
  padding: 0px;
  line-height: 20px;
  /*background-color: $yourColor;*/
}

/*#you:hover {
	background-color: $yourColor;
	}*/
/* line 239, ../sass/style.scss */
#user-links.hidden {
  /*display: none;*/
}

/* line 242, ../sass/style.scss */
#you:hover .dropdown {
  display: block;
}

/* line 245, ../sass/style.scss */
#user-links.dropdown {
  display: none;
}

/* line 249, ../sass/style.scss */
#animation-clock {
  position: fixed;
  top: 35px;
  display: none;
  background-color: black;
  padding: 6px;
  color: white;
  font-family: monospace;
}

/*BOTTOM NAV*/
/* line 261, ../sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 269, ../sass/style.scss */
#bottom-bar {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 283, ../sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
}

/* line 291, ../sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 299, ../sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 306, ../sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 310, ../sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 326, ../sass/style.scss */
#portrait-nav .mapSelect.selected img.mapbtn {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 330, ../sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "futura-pt-condensed";
  font-size: 14px;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 349, ../sass/style.scss */
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
  display: block;
}

/* line 352, ../sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 356, ../sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 359, ../sass/style.scss */
.pop a.name {
  font-family: "futura-pt-condensed";
  font-size: 16px;
  text-transform: uppercase;
}

/* line 364, ../sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: 14px "ff-tisa-web-pro", Georgia, serif;
}

/*MAP NAV*/
/* line 371, ../sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -14px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 381, ../sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 384, ../sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 388, ../sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 397, ../sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 401, ../sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 412, ../sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #08877e;
}
/* line 417, ../sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 421, ../sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #08877e;
}

/* PORTRAIT-CONTROL-NAV */
/* line 428, ../sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 438, ../sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
  /*
  li.selectedLink {
  	background-color: darken($yourColor, 10%);
  } 
  */
}
/* line 441, ../sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 447, ../sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 452, ../sass/style.scss */
#portrait-control-nav ul li a:hover {
  background-color: #08877e;
}
/* line 455, ../sass/style.scss */
#portrait-control-nav ul li a.selected {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 469, ../sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 479, ../sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 483, ../sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 489, ../sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 494, ../sass/style.scss */
#time-nav ul li a:hover {
  background-color: #08877e;
}
/* line 497, ../sass/style.scss */
#time-nav ul li a.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 506, ../sass/style.scss */
#time-nav ul li a.selected:before, #portrait-control-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 512, ../sass/style.scss */
#time-nav ul li a:before, #portrait-control-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 518, ../sass/style.scss */
#time-nav ul li a#animate:before, #time-nav ul li a#animate selected:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 524, ../sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: inset 10px 3px 7px rgba(0, 0, 0, 0.1);
}

/* line 537, ../sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 541, ../sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}

/* line 545, ../sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 548, ../sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 553, ../sass/style.scss */
#sidebar-nav ul li a img:hover {
  background-color: #08877e;
}

/* line 556, ../sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 561, ../sass/style.scss */
#sidebar .title {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 36px;
}

/* line 565, ../sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}

/* LEADERBOARD */
/* line 598, ../sass/style.scss */
#leaderboard {
  /*End table*/
}
/* line 599, ../sass/style.scss */
#leaderboard table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tfoot*/
}
/* line 603, ../sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}
/* line 609, ../sass/style.scss */
#leaderboard table thead tr td {
  width: 70px;
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 613, ../sass/style.scss */
#leaderboard table thead tr th {
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 619, ../sass/style.scss */
#leaderboard table tfoot {
  /* End tr*/
}
/* line 620, ../sass/style.scss */
#leaderboard table tfoot tr {
  margin: 0;
  padding: 0;
}
/* line 624, ../sass/style.scss */
#leaderboard table tfoot tr td {
  width: 70px;
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
}
/* line 627, ../sass/style.scss */
#leaderboard table tfoot tr th {
  font-family: "futura-pt-condensed";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
}
/* line 629, ../sass/style.scss */
#leaderboard table tfoot tr th p {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 1em;
}
/* line 635, ../sass/style.scss */
#leaderboard table tfoot tr td {
  text-align: right;
  float: left;
  font-size: 1.3em;
}
/* line 640, ../sass/style.scss */
#leaderboard table tfoot tr .emph {
  font-size: 40px;
  text-align: right;
}
/* line 647, ../sass/style.scss */
#leaderboard table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 658, ../sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* line 663, ../sass/style.scss */
#lb-sera th, #lb-sera td {
  border-top: 5px solid #f6917f;
}

/* line 668, ../sass/style.scss */
#lb-carrie th, #lb-carrie td {
  border-top: 5px solid #ef5476;
}

/* line 673, ../sass/style.scss */
#lb-frank th, #lb-frank td {
  border-top: 5px solid #8bb049;
}

/* line 678, ../sass/style.scss */
#lb-guri th, #lb-guri td {
  border-top: 5px solid #0bb7ab;
}

/* line 683, ../sass/style.scss */
#lb-kristin th, #lb-kristin td {
  border-top: 5px solid #f0b50c;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* STATS PROFILE */
/* line 740, ../sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* STATS PROFILE VS PROFILE */
/* line 749, ../sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* COMMENTARY */
/* line 753, ../sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

/* line 767, ../sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 773, ../sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}

/* line 778, ../sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 40px;
  font-size: 14px;
}
