/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 29, sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
  background-color: #f8f7f2;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 40, sass/style.scss */
body.streets {
  background: url(../img/map/streets.png);
}

/* line 41, sass/style.scss */
body.landsea {
  background: url(../img/map/land.png);
}

/* line 42, sass/style.scss */
body.beatenpaths {
  background: url(../img/map/map_1680x2750.png);
}

/* line 44, sass/style.scss */
body.hoods {
  background: url(../img/map/hoods.png);
}

/* line 46, sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 56, sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 65, sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 72, sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
    	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
}

/* line 84, sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 0 0.5em 0 0em;
  padding: 0em 0em 0 0;
  /*border-top: 10px solid $yourColor;*/
  /*border-bottom: 20px solid $yourColor;*/
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "atrament-web", sans-serif;
  font-size: 35px;
  text-align: center;
}

/* line 101, sass/style.scss */
#service-nav {
  font: 1em Georgia, serif;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 5%;
  padding: 0;
  vertical-align: baseline;
}

/* line 111, sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
  margin: 0 1.5em 0 0;
  vertical-align: baseline;
}

/* line 118, sass/style.scss */
#service-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}

/* line 122, sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}

/* line 125, sass/style.scss */
#menu-nav {
  padding-top: 0px;
  margin-top: 8px;
  position: relative;
}

/* line 130, sass/style.scss */
#user-nav {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  position: absolute;
  width: 400px;
  padding-top: 0;
  margin: -8px 0 0 0;
  color: #0bb7ab;
  right: 0px;
}

/* line 140, sass/style.scss */
#user-nav ul {
  padding-left: 0;
  margin-left: 0;
}

/* line 144, sass/style.scss */
#user {
  font-size: 1.4em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
}

/* line 149, sass/style.scss */
#user-nav li:first-child {
  border: none;
}

/* line 152, sass/style.scss */
#user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
}

/* line 161, sass/style.scss */
#user-name {
  position: relative;
  float: left;
  display: block;
  padding: 6px;
}

/* line 168, sass/style.scss */
#animation-clock {
  position: fixed;
  top: 35px;
  display: none;
  background-color: black;
  padding: 6px;
  color: white;
  font-family: monospace;
}

/*BOTTOM NAV*/
/* line 180, sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 35px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 188, sass/style.scss */
#bottom-bar {
  height: 35px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 202, sass/style.scss */
#portrait-nav {
  bottom: 30px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
}

/* line 210, sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 218, sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 225, sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 229, sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 245, sass/style.scss */
#portrait-nav .mapSelect.selected img.mapbtn {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 249, sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "atrament-web", sans-serif;
  font-size: 1em;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 268, sass/style.scss */
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
  display: block;
}

/* line 271, sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 275, sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 278, sass/style.scss */
.pop a.name {
  font-family: "atrament-web", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* line 283, sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: .8em Georgia;
}

/*MAP NAV*/
/* line 290, sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -14px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 300, sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 303, sass/style.scss */
#map-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 307, sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 316, sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 320, sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  border: none;
}
/* line 331, sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #08877e;
}
/* line 336, sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 340, sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #08877e;
}

/* PORTRAIT-CONTROL-NAV */
/* line 347, sass/style.scss */
#portrait-control-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}
/* line 357, sass/style.scss */
#portrait-control-nav ul {
  padding-left: 0;
  /*
  li.selectedLink {
  	background-color: darken($yourColor, 10%);
  } 
  */
}
/* line 360, sass/style.scss */
#portrait-control-nav ul li {
  display: block;
  float: left;
  padding: 0 0;
  margin: 0 0 0 8px;
}
/* line 366, sass/style.scss */
#portrait-control-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 371, sass/style.scss */
#portrait-control-nav ul li a:hover {
  background-color: #08877e;
}
/* line 374, sass/style.scss */
#portrait-control-nav ul li a.selected {
  background-color: #08877e;
}

/* TIME-NAV */
/* line 388, sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 35px;
  float: right;
}
/* line 398, sass/style.scss */
#time-nav ul {
  padding-left: 15px;
  padding-right: 5px;
}
/* line 402, sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 125px;
  padding: 0 0;
}
/* line 408, sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1px 4px 3px 4px;
}
/* line 413, sass/style.scss */
#time-nav ul li a:hover {
  background-color: #08877e;
}
/* line 416, sass/style.scss */
#time-nav ul li a.selected {
  background-color: #08877e;
}

/* CHECKBOXES */
/* line 425, sass/style.scss */
#time-nav ul li a.selected:before, #portrait-control-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 431, sass/style.scss */
#time-nav ul li a:before, #portrait-control-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 7px;
  position: relative;
  top: 5px;
}

/* line 437, sass/style.scss */
#time-nav ul li a#animate:before, #time-nav ul li a#animate selected:before {
  content: url(../img/btn/play-animation-20x20.png);
}

/* SIDEBAR */
/* line 443, sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #e3e3da;
  /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -webkit-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -o-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
}

/* line 456, sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 460, sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
  list-style-type: none;
}

/* line 464, sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 467, sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 472, sass/style.scss */
#sidebar-nav ul li a img:hover {
  background-color: #08877e;
}

/* line 475, sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 481, sass/style.scss */
#sidebar .title {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 36px;
}
/* line 485, sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}
/* line 490, sass/style.scss */
#sidebar #stats-profile img.stats-avatar {
  width: 87px;
  height: 87px;
}
/* line 491, sass/style.scss */
#sidebar #stats-versus img.stats-avatar {
  width: 50px;
  height: 50px;
}
/* line 492, sass/style.scss */
#sidebar .stats-color {
  height: 5px;
}
/* line 495, sass/style.scss */
#sidebar .stats-duration {
  text-transform: uppercase;
}

/* LEADERBOARD */
/* line 528, sass/style.scss */
#leaderboard {
  /*End table*/
}
/* line 529, sass/style.scss */
#leaderboard table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tfoot*/
}
/* line 533, sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}
/* line 539, sass/style.scss */
#leaderboard table thead tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 543, sass/style.scss */
#leaderboard table thead tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 549, sass/style.scss */
#leaderboard table tfoot {
  /* End tr*/
}
/* line 550, sass/style.scss */
#leaderboard table tfoot tr {
  margin: 0;
  padding: 0;
}
/* line 554, sass/style.scss */
#leaderboard table tfoot tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  font-family: "vinyl", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
}
/* line 557, sass/style.scss */
#leaderboard table tfoot tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
}
/* line 559, sass/style.scss */
#leaderboard table tfoot tr th p {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 1em;
}
/* line 565, sass/style.scss */
#leaderboard table tfoot tr td {
  text-align: right;
  float: left;
  font-size: 1.3em;
}
/* line 570, sass/style.scss */
#leaderboard table tfoot tr .emph {
  font-size: 40px;
  text-align: right;
}
/* line 577, sass/style.scss */
#leaderboard table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 588, sass/style.scss */
#leaderboard.hidden {
  visibility: hidden;
}

/* line 593, sass/style.scss */
#lb-sera th, #lb-sera td {
  border-top: 5px solid #f6917f;
}

/* line 598, sass/style.scss */
#lb-carrie th, #lb-carrie td {
  border-top: 5px solid #ef5476;
}

/* line 603, sass/style.scss */
#lb-frank th, #lb-frank td {
  border-top: 5px solid #8bb049;
}

/* line 608, sass/style.scss */
#lb-guri th, #lb-guri td {
  border-top: 5px solid #0bb7ab;
}

/* line 613, sass/style.scss */
#lb-kristin th, #lb-kristin td {
  border-top: 5px solid #f0b50c;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* STATS PROFILE */
/* line 670, sass/style.scss */
#stats-profile.hidden {
  visibility: hidden;
}

/* STATS PROFILE VS PROFILE */
/* line 679, sass/style.scss */
#stats-versus.hidden {
  visibility: hidden;
}

/* COMMENTARY */
/* line 683, sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  font-family: "ff-tisa-web-pro", Georgia, serif;
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

/* line 697, sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 703, sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}

/* line 708, sass/style.scss */
#testing {
  background-color: #fff;
  font-family: "ff-netto-web";
  float: left;
  position: fixed;
  width: 400px;
  top: 600px;
  left: 40px;
  font-size: 14px;
}
