/*COLORS*/
/*#322e10; brown #322e10*/
/*FONTS*/
/* line 22, sass/style.scss */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 2750px;
}

/* line 30, sass/style.scss */
body.streets {
  background: #f8f7f2 url(../img/map/streets.png) top left no-repeat;
}

/* line 33, sass/style.scss */
body.landsea {
  background: #f8f7f2 url(../img/map/land.png) top left no-repeat;
}

/* line 36, sass/style.scss */
body.beatenpaths {
  background: #f8f7f2 url(../img/map/map_1680x2750.png) top left no-repeat;
}

/* line 39, sass/style.scss */
body.blankcanvas {
  background-color: #f8f7f2;
}

/* line 42, sass/style.scss */
body.hoods {
  background: #f8f7f2 url(../img/map/hoods.png) top left no-repeat;
}

/* line 46, sass/style.scss */
canvas {
  margin-top: 0px;
  margin-left: 0px;
  width: 1680px;
  height: 2750px;
  display: block;
  position: relative;
  z-index: 10;
}

/* line 56, sass/style.scss */
h1 {
  font-family: "atrament-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.3em;
  text-align: center;
}

/* NAV TOP */
/* line 65, sass/style.scss */
#nav, #bottom-nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

/*SERVICE NAV (TOP)*/
/* line 72, sass/style.scss */
#service-bar {
  background-color: #fff;
  width: 100%;
  height: 35px;
  opacity: 0.6;
  margin: 0 0 0 0;
  position: absolute;
  z-index: 200;
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 84, sass/style.scss */
#logo {
  display: block;
  float: left;
  position: relative;
  z-index: 300;
  margin: 0 0.5em 0 0em;
  padding: 0em .5em 0 0;
  /*padding: .5em 2em 0 2em;*/
  /*background-color: $yourColor; */
  color: #0bb7ab;
  font-family: "atrament-web", sans-serif;
  font-size: 35px;
  text-align: center;
}

/* line 98, sass/style.scss */
#service-nav {
  font: 1em Georgia, serif;
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0 0 0 5%;
  padding: 0;
  vertical-align: baseline;
}

/* line 108, sass/style.scss */
#service-nav ul li {
  display: block;
  padding-top: 0;
  float: left;
  margin: 0 1.5em 0 0;
  vertical-align: baseline;
}

/* line 115, sass/style.scss */
#service-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}

/* line 119, sass/style.scss */
#service-nav ul li.selectedLink {
  border-bottom: 2px solid #0bb7ab;
}

/* line 122, sass/style.scss */
#menu-nav {
  padding-top: 0px;
  margin-top: 8px;
  position: relative;
}

/* line 127, sass/style.scss */
#user-nav {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  position: absolute;
  width: 400px;
  padding-top: 0;
  margin: -8px 0 0 0;
  color: #0bb7ab;
  right: 0px;
}

/* line 137, sass/style.scss */
#user-nav ul {
  padding-left: 0;
  margin-left: 0;
}

/* line 141, sass/style.scss */
#user {
  font-size: 1.4em;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
}

/* line 146, sass/style.scss */
#user-nav li:first-child {
  border: none;
}

/* line 149, sass/style.scss */
#user-avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
}

/* line 158, sass/style.scss */
#user-name {
  position: relative;
  float: left;
  display: block;
  padding: 6px;
}

/*BOTTOM NAV*/
/* line 167, sass/style.scss */
#bottom-nav {
  bottom: 0;
  height: 30px;
}

/* line 171, sass/style.scss */
#bottom-bar {
  height: 30px;
  bottom: 0;
  width: 100%;
  opacity: 1;
  z-index: 180;
  position: absolute;
  background-color: #0bb7ab;
  -moz-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.3);
}

/*PORTRAIT NAV*/
/* line 185, sass/style.scss */
#portrait-nav {
  bottom: 28px;
  height: 55px;
  position: absolute;
  display: block;
  float: left;
  z-index: 100;
}

/* line 193, sass/style.scss */
#portrait-nav ul {
  position: relative;
  list-style-type: normal;
  margin-right: auto;
  padding-left: .5em;
  margin-top: 0;
  margin-left: 0;
}

/* line 201, sass/style.scss */
#portrait-nav ul li {
  display: block;
  float: left;
  position: relative;
  padding-right: .5em;
}

/* line 208, sass/style.scss */
#portrait-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 212, sass/style.scss */
img.avatar {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  	/*-moz-border-radius-bottomright: 1em;
    	-webkit-border-bottom-right-radius: 1em;
    	-moz-border-radius: .5em;
      -webkit-border-radius: .5em;*/
  border-top: .5em solid #fff;
}

/* line 228, sass/style.scss */
#portrait-nav .mapSelect.selected img.mapbtn {
  border-top: 2em solid #fff;
  margin-top: -1.5em;
}

/* line 232, sass/style.scss */
.pop {
  display: none;
  position: absolute;
  left: -0.6em;
  /*top: -5.2em;*/
  bottom: 3.7em;
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "atrament-web", sans-serif;
  font-size: 1em;
  padding: .6em;
  -moz-border-radius-topleft: .8em;
  -webkit-border-top-left-radius: .8em;
  -moz-border-radius-topright: .8em;
  -webkit-border-top-right-radius: .8em;
  -moz-border-radius-bottomright: .8em;
  -webkit-border-bottom-right-radius: .8em;
}

/* line 251, sass/style.scss */
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
  display: block;
}

/* line 254, sass/style.scss */
#portrait-nav ul li:hover img {
  border-top: 1em solid #fff;
  margin-top: -0.5em;
}

/* line 258, sass/style.scss */
#portrait-nav ul li .pop a {
  color: #fff;
}

/* line 261, sass/style.scss */
.pop a.name {
  font-family: "atrament-web", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* line 266, sass/style.scss */
.pop-nav {
  padding-top: .4em;
  font: .8em Georgia;
}

/*MAp NAV*/
/* line 273, sass/style.scss */
#map-nav {
  bottom: 0;
  display: block;
  margin: -15px 0 0 0;
  padding: 0 0 0px 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: right;
}
/* line 283, sass/style.scss */
#map-nav ul {
  padding-right: 5px;
}
/* line 286, sass/style.scss */
#map-nav ul li {
  display: block;
  border-right: 1px solid #043f3b;
  float: left;
  position: relative;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 295, sass/style.scss */
#map-nav ul li a {
  color: #0bb7ab;
  text-decoration: none;
}
/* line 299, sass/style.scss */
#map-nav ul li a img.mapbtn {
  background-color: #0bb7ab;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
}
/* line 310, sass/style.scss */
#map-nav ul li a img.mapbtn:hover {
  background-color: #076f68;
}
/* line 315, sass/style.scss */
#map-nav ul li .pop {
  width: 100px;
}
/* line 319, sass/style.scss */
#map-nav ul li.selected img.mapbtn {
  background-color: #076f68;
}

/* MAIN-NAV */
/* line 326, sass/style.scss */
#main-nav {
  bottom: 0;
  display: block;
  margin: -12px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: left;
}

/* line 336, sass/style.scss */
#main-nav ul li {
  display: block;
  float: left;
  font-size: 20px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0 0;
}

/* line 344, sass/style.scss */
#main-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-right: 1px solid #0bb7ab;
}

/* TIME-NAV */
/* line 351, sass/style.scss */
#time-nav {
  bottom: 0;
  display: block;
  margin: -12px 0 0 0;
  padding: 0 0 0 0;
  z-index: 200;
  position: relative;
  height: 30px;
  float: right;
}

/* line 361, sass/style.scss */
#time-nav ul {
  padding-left: 0;
  padding-right: 5px;
}

/* line 365, sass/style.scss */
#time-nav ul li {
  display: block;
  float: left;
  width: 130px;
  font-size: 20px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  padding: 0em 0;
}

/* line 375, sass/style.scss */
#time-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 5px;
}

/* line 381, sass/style.scss */
#time-nav ul li a.selected {
  background-color: #076f68;
}

/* CHECKBOXES */
/* line 387, sass/style.scss */
#time-nav ul li a.selected:before, #main-nav ul li a.selected:before {
  content: url(../img/btn/checkbox-sq-checked-20x20.png);
  margin-right: 10px;
}

/* line 391, sass/style.scss */
#time-nav ul li a:before, #main-nav ul li a:before {
  content: url(../img/btn/checkbox-sq-20x20.png);
  margin-right: 10px;
}

/* SIDEBAR */
/* line 398, sass/style.scss */
#sidebar {
  color: #1f1f1f;
  position: fixed;
  background-color: #bfbfbf;
  border-left: 2px solid #ccc;
  width: 400px;
  height: 100%;
  z-index: 150;
  top: 0;
  right: 0px;
  /*TO HIDE SIDEBAR Right: -400px;*/
  -moz-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -webkit-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  -o-box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 10px 3px 7px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
}

/* line 411, sass/style.scss */
#sidebar.hidden {
  right: -400px;
}

/* line 415, sass/style.scss */
#sidebar-nav ul {
  margin: 55px auto auto -70px;
}

/* line 418, sass/style.scss */
#sidebar-nav ul li {
  margin-top: 15px;
}

/* line 421, sass/style.scss */
#sidebar-nav ul li img {
  width: 30px;
  height: 30px;
  background-color: #0bb7ab;
}

/* line 426, sass/style.scss */
.sidebar-content {
  position: absolute;
  top: 55px;
  margin: 0 10px 50px 20px;
}

/* line 431, sass/style.scss */
#sidebar .title {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

/* line 436, sass/style.scss */
#sidebar .sub-title {
  font-family: Georgia;
  font-size: 1em;
  padding-bottom: 20px;
}

/* LEADERBOARD */
/* line 468, sass/style.scss */
#leaderboard {
  /*visibility: hidden; TURN OFF LEADERBOARD HERE*/
  /*End table*/
}
/* line 470, sass/style.scss */
#leaderboard table {
  border-spacing: 2px;
  margin-top: 0px;
  /* End tfoot*/
}
/* line 474, sass/style.scss */
#leaderboard table thead {
  width: 360px;
  display: block;
}
/* line 480, sass/style.scss */
#leaderboard table thead tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: right;
}
/* line 484, sass/style.scss */
#leaderboard table thead tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
  border-top: 0;
}
/* line 490, sass/style.scss */
#leaderboard table tfoot {
  /* End tr*/
}
/* line 491, sass/style.scss */
#leaderboard table tfoot tr {
  margin: 0;
  padding: 0;
}
/* line 495, sass/style.scss */
#leaderboard table tfoot tr td {
  width: 70px;
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
}
/* line 498, sass/style.scss */
#leaderboard table tfoot tr th {
  font-family: "atrament-web", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 150px;
  float: left;
  display: table-cell;
  padding: 0;
  margin: 0;
}
/* line 500, sass/style.scss */
#leaderboard table tfoot tr th p {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 1em;
}
/* line 506, sass/style.scss */
#leaderboard table tfoot tr td {
  text-align: right;
  float: left;
  font-size: 1.3em;
}
/* line 511, sass/style.scss */
#leaderboard table tfoot tr .emph {
  font-size: 40px;
  text-align: right;
}
/* line 518, sass/style.scss */
#leaderboard table .avatar {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/*End leaderboard*/
/* line 530, sass/style.scss */
#lb-sera th, #lb-sera td {
  border-top: 5px solid #f6917f;
}

/* line 535, sass/style.scss */
#lb-carrie th, #lb-carrie td {
  border-top: 5px solid #ef5476;
}

/* line 540, sass/style.scss */
#lb-frank th, #lb-frank td {
  border-top: 5px solid #8bb049;
}

/* line 545, sass/style.scss */
#lb-guri th, #lb-guri td {
  border-top: 5px solid #0bb7ab;
}

/* line 550, sass/style.scss */
#lb-kristin th, #lb-kristin td {
  border-top: 5px solid #f0b50c;
}

/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
/* COMMENTARY */
/* line 603, sass/style.scss */
#commentary {
  /*background-color: #fff;*/
  position: fixed;
  width: 10em;
  height: auto;
  margin: 5em 0 0 5%;
  z-index: 200;
  color: #0bb7ab;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
}

/* line 615, sass/style.scss */
#twitter-bar {
  font-family: "atrament-web", sans-serif;
  font-size: .7em;
  font-style: normal;
  margin-bottom: .6em;
}

/* line 621, sass/style.scss */
#twitter-bar a {
  color: #0bb7ab;
  font-style: normal;
}
