/*COLORS*/
$yourColor: #00ddff;
$bar: #322e10;
$black: #000;
$red: #d2222d;
$pink: #ef5476;
$mint: #0bb7ab;
$purple: #9880ba;
$yellow: #f0b50c;
$blue: #00ddff;
$orange: #f08e21;
$dkblue: #0aa5bb;
$peach: #f6917f;
$green: #8bb049;

/*FONTS*/
$sans: "atrament-web", sans-serif;

body {
	font-size: 100%;
	background: #f8f7f2 url(../img/map_1680x2750.png) top left no-repeat;  
	margin: 0;
	padding:0;
	height: 2750px;
	}

canvas { 
	margin-top: 0px;
	margin-left: 0px;
	width: 1680px;
	height: 2750px;
	display: block;
	position: relative;
	z-index: 10;
}

h1 {
	font-family: $sans;
	font-style: normal;
	font-weight: 400;
	font-size: 4.3em;
	text-align: center;
	}
	
/* NAVS */	
#nav, #bottom-nav {
	position: fixed;
	width: 100%;
	margin: 0;	
	}
	
/*SERVICE NAV (TOP)*/
#service-bar {
	background-color: $bar;
	width: 100%;
	height: 2.4em;
	opacity: 0.7;
	margin: 1.4em 0 0 0;
	position: absolute;
	z-index: 200;
	-moz-box-shadow: 3px 3px 7px #888;
  	-webkit-box-shadow: 3px 3px 7px #888;
  		}
#logo {
	display: block;
	float: left;
	position: relative;
	z-index: 300;
	margin: -0.5em 0.5em -0.5em 5%;
	padding: 0.5em;
	padding-bottom: .4em;
	background-color: $yourColor; 
	color: #ffffff;
	font-family: $sans;
	font-size: 3.5em;
	text-align: center;
  		}
#service-nav {
	font: 1em Georgia, serif;
	width: 100%;
	heigth: 1em;
	position: absolute;
	z-index: 200;
	margin: 1em 0 0 0;
	padding: 0;
	vertical-align: baseline;
	}
#service-nav ul {
	position: relative;
	list-style-type: normal;
}
#service-nav ul li {
	display: block;
	float: left;
	margin: 0 1.5em 0 0;
	vertical-align: baseline;
	}
#service-nav ul li a{
	color: #ffffff; 
	text-decoration: none;
	}
#service-nav ul li:first-child {
	border-bottom: 2px solid #ffffff;
}
#user-nav {
	position: relative;
	display: block;
	float:right;
	margin: -0.8em 5% 0 0;
	color: #ffffff;
	right: 0;
	background-color: $yourColor; /*blue #00ddff;*/
	font-size: 1.4em;
	font-family: $sans;
	text-transform: uppercase;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;*/	}
ul#user-nav {
	padding:0;
	}
ul#user-nav li:first-child{
	border:none;
	}
#user-avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height:49px;
	width: 49px;
	}
#user-name {
	position:relative;
	float:left;
	display:block;
	padding: 0.5em;
}	

/*CONTROL NAV*/

#control-nav {
	bottom: 0;
	margin: 0 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 3.5em;
	float:left;
	}
#control-nav ul {
	list-style-type: normal;
	margin-right: auto;
	padding-left:.5em;
	margin-top:0;
	margin-left: 0;
	padding: 0;
	}
#control-nav ul li {
	display: block;
	float: left;
	position: relative;
	padding-right: .5em;
	padding-top: 0;
	margin-top: 0;
	}
#control-nav ul li a {
	color: $yourColor;
	text-decoration: none;  
	}
img.mapbtn {
	background-color: $yourColor;
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height: 2.8em;
	width: 2.8em;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;
  	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;*/
	border-top: .5em solid #fff;
  	}

/*
#control-nav ul li {
	display: block;
	float: left;
	font-size: 1.2em;
	font-family: $sans;
	text-transform: uppercase;
	padding: 0.2em 0;
	}
#control-nav ul li a{
	color: $yourColor; 
	text-decoration: none;  
	padding: 0.2em 0.5em;
	border-right: 1px solid $yourColor;
	}
#control-nav ul li:first-child {
	background:yellow;
	border-left: 1px solid $yourColor;
}
*/

/*BOTTOM NAV*/
#bottom-nav{
	bottom: 0;
	height: 3.5em;
	}
#bottom-bar{
	height: 3.5em;
	bottom: 0;
	width: 100%;
	background-color: $bar;
	opacity: 0.7;
	z-index: 180;
	position: absolute;	
	-moz-box-shadow: 3px -3px 7px #888;
  	-webkit-box-shadow: 3px -3px 7px #888;
	}
/*PORTRAIT NAV*/

#portrait-nav {
	bottom: 0;
	height: 3.5em;
	position: relative;
	display: block;
	float: left;
	z-index: 200;
	/*-moz-box-shadow: 3px -3px 7px #888;
  	-webkit-box-shadow: 3px -3px 7px #888;*/
/*  -moz-border-radius-bottomright: 15px;
  	-webkit-border-bottom-right-radius: 15px;*/
	}
#portrait-nav ul {
	position: relative;
	list-style-type: normal;
	margin-right: auto;
	padding-left:.5em;
	margin-top:0;
	margin-left: 0;
}
#portrait-nav ul li {
	display: block;
	float: left;
	position: relative;
	padding-right: .5em;
	}
	
#portrait-nav ul li a{
	color: #ffffff;
	text-decoration: none;  
	}
img.avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height: 2.8em;
	width: 2.8em;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;
  	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;*/
	border-top: .5em solid #fff;
  	}
  	
img.selected
{
	border-top: 2em solid #fff; 
	margin-top: -1.5em;
	}
.pop {
	display: none;
	position: absolute;
	left: -.6em;
	top: -5.2em;
	width: 240px;
	background-color: #fff;
	opacity: 0.8;
	font-family: $sans;
	font-size: 1em;
	padding: .6em;
	-moz-border-radius-topleft: .8em;
  	-webkit-border-top-left-radius: .8em;
	-moz-border-radius-topright: .8em;
  	-webkit-border-top-right-radius: .8em;
	-moz-border-radius-bottomright: .8em;
  	-webkit-border-bottom-right-radius: .8em;
	}
#portrait-nav ul li:hover .pop, #control-nav ul li:hover .pop {
	display: block;
	}
#portrait-nav ul li:hover img {
	border-top: 1em solid #fff;
	margin-top: -.5em;
	}
#portrait-nav ul li .pop a {
	color: #fff;
	}
.pop a.name {
	font-family: $sans;
	font-size: 1.4em;
	text-transform: uppercase;
	}
.pop-nav {
	padding-top: .4em;
	font: .8em Georgia;
	}
/* COMMENTARY */
#commentary {
	/*background-color: #fff;*/
	position: fixed;
	width: 10em;
	height: auto;
	margin: 5em 0 0 5%;
	z-index: 200;	
	color: $yourColor;
	font-style: normal;
	font-weight: 400;
	font-size: 1.8em;
	}
#time-bar {
	font-family: $sans;
	font-size: .6em;
	font-style: normal;
	margin-bottom: .6em;
}
#time-bar a {
	color: $yourColor;
	font-style: normal;
}

