@import "compass/css3";

/*COLORS*/
$yourColor: #0bb7ab;
$land: #fffbf0;
$bar: #1f1f1f; /*#322e10; brown #322e10*/
$black: #1f1f1f;
$red: #d2222d;
$pink: #ef5476;
$mint: #0bb7ab;
$purple: #9880ba;
$yellow: #f0b50c;
$blue: #00ddff;
$orange: #f08e21;
$dkblue: #0aa5bb;
$peach: #f6917f;
$green: #8bb049;

/*FONTS*/
$sans: "atrament-web", sans-serif;
$serif: "ff-tisa-web-pro", Georgia, serif;
$vinyl: "vinyl", sans-serif;
$kulturista: "kulturista-web", serif;
$nimbus: "nimbus-sans-condensed";
$netto: "ff-netto-web";
$gothic: "league-gothic";
$futura: "futura-pt-condensed";
$dax: "ff-dax-compact-web-pro";

body {
	font-size: 100%;
	  
	margin: 0;
	padding:0;
	height: 2750px;
	background-color: #f8f7f2;
	background-position: top left;
	background-repeat: no-repeat;
}

body.streets { background: url(../img/map/streets.png); }
body.landsea { background: url(../img/map/land.png); }
body.beatenpaths { background: url(../img/map/map_1680x2750.png); }
body.blankcanvas { }
body.hoods { background: url(../img/map/hoods.png); }

canvas { 
	margin-top: 0px;
	margin-left: 0px;
	width: 1680px;
	height: 2750px;
	display: block;
	position: relative;
	z-index: 10;
}

h1 {
	font-family: $sans;
	font-style: normal;
	font-weight: 400;
	font-size: 4.3em;
	text-align: center;
	}
	
/* NAV TOP */	
#nav, #bottom-nav {
	position: fixed;
	width: 100%;
	margin: 0;	
	}
	
/*SERVICE NAV (TOP)*/
#service-bar {
	background-color: #fff;
	width: 100%;
	height: 35px;
	opacity: 0.6;
	margin: 0 0 0 0;
	position: absolute;
	z-index: 200;
	/*-moz-box-shadow: 3px 3px 7px rgba(0,0,0, .3);
  	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .3);*/
  	}

#logo {
	display: block;
	float: left;
	position: relative;
	z-index: 300;
	margin: 3px 0 0 0;
	padding: 0 0 0 0;
	/*border-top: 10px solid $yourColor;*/
	/*border-bottom: 20px solid $yourColor;*/
	/*padding: .5em 2em 0 2em;*/
	/*background-color: $yourColor; */
	color: $yourColor;
	font-family: $sans;
	font-weight: 500;
	font-size: 35px;
	line-height: 38px;
	text-align: center;
  	}

#service-nav {
	font-family: $futura;
	font-weight: 400;
	font-size: 22px;
	width: 100%;
	position: absolute;
	z-index: 200;
	margin: 0 0 0 20px;
	padding: 0;

	ul { 
	
		li {
			display: block;
			padding-top: 0;
			float: left;
						
			a{
				text-decoration: none;
			}
		}
		li.selectedLink {
			border-bottom: 2px solid $yourColor;
		}
	}
	#menu-nav {
		padding-top: 0px;
		margin-top: 4px;
		margin-left: 65px;
		position: relative;
		
		li{
			margin: 0 25px 0 0;
			
			a {
				color: $yourColor; 
			}
			a:hover{
				border-bottom: 2px solid $yourColor;
			}
	
		}
	}
	
	#user-nav {
		font-family: $futura;
		text-transform: none;
		line-height: 20px;
		position: absolute;
		padding: 0;
		margin: -14px 10px 0 0;
		right: 0px;	
		
		li {
			margin: 0 25px 0 0;
	
			a{
				color: $black;
			}
			a:hover{
				border-bottom: 2px solid $black;
			}
			
		}
		#invite {
			border-right: 1px solid $black;
			padding-right: 20px;
			margin-right: 0px;
		}
		#you {
			font-family: $futura;
			display: block;
			text-transform: none;
			margin-top: -3px;
			margin-left: 10px;
			margin-right: 20px;
			padding: 3px;
			#user-links {
				position: absolute;
				top: 17px; 
				right: 10px;
				width: 125px;
				margin-top: 10px;
				
				li {
					display: block;
					width: 100%;
					clear: both;
					margin: 0;
					background: $yourColor;
					border-bottom: 1px solid rgba(255,255,255, .2);
					padding: 4px 7px;
					a {
						color: #fff;
						font-size: 18px;
						display: block;
						width: 100%;
					}
					a:hover {
						border-bottom: none;
					}
				}
				li:hover{
					background: darken($yourColor, 10%);	
				}
			}		
			
			#user-avatar {
				position: relative;
				display: block;
				float: left;
				margin: 0px 8px 10px 0px;
				padding: 0;
				height: 20px;
				width: 20px;
				top: 0;
				right: 0;
			}
			#user-name {
				color: $black;
				position: relative;
				float: left;
				display: block;
				padding: 0px;
				line-height: 20px;
				/*background-color: $yourColor;*/
				
			}	
		}
	}
}

/*#you:hover {
	background-color: $yourColor;
	}*/
#user-links.hidden {
	/*display: none;*/
	}
#you:hover .dropdown {
	display: block;
	}
#user-links.dropdown {
	display:none;
}

#animation-clock {
	position: fixed;
	top: 35px;
	display: none;
	background-color: black;
	padding: 6px;
	color: white;
	font-family: monospace;
}


/*BOTTOM NAV*/
#bottom-nav{
	bottom: 0;
	height: 35px;
	font-family: $serif;
	font-weight: bold;
	
	font-size: 14px;
	}
#bottom-bar{
	height: 35px;
	bottom: 0;
	width: 100%;
	opacity: 1;
	z-index: 180;
	position: absolute;	
	background-color: $yourColor;
	-moz-box-shadow: 3px -3px 7px rgba(0,0,0, .3);
  	-webkit-box-shadow: 3px -3px 7px rgba(0,0,0, .3);
	}
	
/*PORTRAIT NAV*/

#portrait-nav {
	bottom: 30px;
	height: 55px;
	position: absolute;
	display: block;
	float: left;
	z-index: 100;
	}
#portrait-nav ul {
	position: relative;
	list-style-type: normal;
	margin-right: auto;
	padding-left:.5em;
	margin-top:0;
	margin-left: 0;
}
#portrait-nav ul li {
	display: block;
	float: left;
	position: relative;
	padding-right: .5em;
	}
	
#portrait-nav ul li a{
	color: #ffffff;
	text-decoration: none;  
	}
img.avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height: 45px;
	width: 45px;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;
  	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;*/
	border-top: .5em solid #fff;
  	}
  	
#portrait-nav .mapSelect.selected img.mapbtn
{
	border-top: 2em solid #fff; 
	margin-top: -1.5em;
	}
.pop {
	display: none;
	position: absolute;
	left: -.6em;
	/*top: -5.2em;*/
	bottom: 3.7em;
	width: 230px;
	background-color: #fff;
	opacity: 0.8;
	font-family: $futura;
	font-size: 14px;
	padding: .6em;
	-moz-border-radius-topleft: .8em;
  	-webkit-border-top-left-radius: .8em;
	-moz-border-radius-topright: .8em;
  	-webkit-border-top-right-radius: .8em;
	-moz-border-radius-bottomright: .8em;
  	-webkit-border-bottom-right-radius: .8em;
	}
#portrait-nav ul li:hover .pop, #map-nav ul li:hover .pop {
	display: block;
	}
#portrait-nav ul li:hover img {
	border-top: 1em solid #fff;
	margin-top: -.5em;
	}
#portrait-nav ul li .pop a {
	color: #fff;
	}
.pop a.name {
	font-family: $futura;
	font-size: 16px;
	text-transform: uppercase;
	}
.pop-nav {
	padding-top: .4em;
	font: 14px $serif;
	}

/*MAP NAV*/

#map-nav {
	bottom: 0;
	display:block;
	margin: -14px 0 0 0;	
	padding: 0 0 0px 0;
	z-index: 200;
	position: relative;
	height: 35px;
	float:right;

	ul {
		padding-right: 5px;

		li:first-child {
			border-left: 1px solid rgba(255,255,255, .2);
		}
		
		li {
			display: block;
			border-right: 1px solid rgba(255,255,255, .2);
			float: left;
			position: relative;
			padding-right: 0;
			padding-top: 0;
			margin-top: 0;
			
			a {
				color: $yourColor;
				text-decoration: none;  

				img.mapbtn {
					background-color: $yourColor;
					position: relative;
					display: block;
					float:left;
					margin:0;
					padding:0;
					height: 35px;
					width: 35px;
					border: none;
			  	}
				img.mapbtn:hover {
					background-color: darken($yourColor, 10%);
				}
			}

			.pop {
				width: 100px;
			}
		}
		li.selected img.mapbtn {
			background-color: darken($yourColor, 10%);
		}
	}
}

/* PORTRAIT-CONTROL-NAV */
#portrait-control-nav {
	bottom: 0;
	display:block;
	margin: -10px 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 30px;
	float:left;
	
	ul {
		padding-left: 0;
		
		li {
			display: block;
			float: left;
			padding: 0 0;
			margin: 0 0 0 8px;
			
			a {
				color: #fff;
				text-decoration: none;
				padding: 1px 4px 3px 4px;
			}
			a:hover {
				background-color: darken($yourColor, 10%);
			}
			a.selected {
				background-color: darken($yourColor, 10%);
			}
		}
		/*
		li.selectedLink {
			background-color: darken($yourColor, 10%);
		} 
		*/
		
	}
}

/* TIME-NAV */
#time-nav {
	bottom: 0;
	display:block;
	margin: -10px 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 35px;
	float:right;
	
	ul{
		padding-left: 15px;
		padding-right: 5px;
	
		li {
			display: block;
			float: left;
			width: 125px;
			padding: 0 0;
			
			a {
				color: #fff;
				text-decoration: none;
				padding: 1px 4px 3px 4px;
			}
			a:hover {
				background-color: darken($yourColor, 10%);
			}
			a.selected {
				background-color: darken($yourColor, 10%);
			}
		}		
	}
}

/* CHECKBOXES */

#time-nav ul li a.selected:before, #portrait-control-nav ul li a.selected:before {
content: url(../img/btn/checkbox-sq-checked-20x20.png);
margin-right: 7px;
position:relative;
top: 5px;
	}
#time-nav ul li a:before, #portrait-control-nav ul li a:before, {
content: url(../img/btn/checkbox-sq-20x20.png);
margin-right: 7px;
position:relative;
top: 5px;
	}
#time-nav ul li a#animate:before, #time-nav ul li a#animate selected:before,  {
content: url(../img/btn/play-animation-20x20.png);

}
/* SIDEBAR */

#sidebar{
	color: #1f1f1f;
	position: fixed;
	background-color: darken(#f9f9f7, 10%); /*darken(#EFECDF, 2%);darken(#fff, 25%);*/
	border-left: 2px solid #ccc;
	width: 400px;
	height: 100%;
	z-index: 150;
	top: 0;
	right: 0px;	/*TO HIDE SIDEBAR Right: -400px;*/
	@include box-shadow(inset 10px 3px 7px rgba(0,0,0, .1));
	
	}
#sidebar.hidden {
	right: -400px;
}

#sidebar-nav ul {
	margin: 55px auto auto -70px;
	list-style-type: none;
	}
#sidebar-nav ul li {
	margin-top: 15px;
	}
#sidebar-nav ul li img {
	width: 30px;
	height: 30px;
	background-color: $yourColor;
	}
#sidebar-nav ul li a img:hover {
		background-color: darken($yourColor, 10%);
	}
.sidebar-content {
	position: absolute;
	top: 55px;
	margin: 0 10px 50px 20px;
	}
#sidebar .title {
	font-family: $serif;
	font-size: 36px;
	}
#sidebar .sub-title {
	font-family: Georgia;
	font-size: 1em;
	padding-bottom: 20px;
	}

/* LEADERBOARD */
	
@mixin datahead {
	font-family: $futura;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	width: 150px;
	float: left;
	display: table-cell;
	padding: 0;
	margin: 0;
}

@mixin datacell {
	width: 70px;
	font-family: $futura;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 500;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
}

#leaderboard {
	table {
		border-spacing: 2px;
		margin-top: 0px;
		
		thead {
			width: 360px;
			display: block;
			
			tr{
			 	
			 	td {
				@include datacell;
				text-align:right;		
				}
				th {
				@include datahead;
				border-top: 0;		
				}
			}
		}
		tfoot {
			tr {
				margin: 0;
				padding: 0;
				
				td {
					@include datacell;				
				}
				th {
					@include datahead;
					p {
						margin-top: 5px;
						margin-bottom: auto;
						font-size: 1em;
					}
				}
				td {
					text-align: right;
					float: left;
					font-size: 1.3em;
				}
				.emph{
					font-size: 40px;
					text-align: right;
				}
			} /* End tr*/
		} /* End tfoot*/
		
		.avatar {
			border: none;
			padding: 0;
			margin: 0;
			margin-right: 5px;
			width: 35px;
			height: 35px;
			}
	} /*End table*/
} /*End leaderboard*/

#leaderboard.hidden {
	visibility: hidden; 
}

#lb-sera {
	th, td {
		border-top: 5px solid $peach;
	}
}
#lb-carrie {
	th, td {
		border-top: 5px solid $pink;
	}
}
#lb-frank {
	th, td {
		border-top: 5px solid $green;
	}
}
#lb-guri {
	th, td {
		border-top: 5px solid $mint;
	}
}
#lb-kristin {
	th, td {
		border-top: 5px solid $yellow;
	}
}
/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/

/* STATS PROFILE */
#stats-profile {

}

#stats-profile.hidden {
	visibility: hidden; 
}

/* STATS PROFILE VS PROFILE */
#stats-versus {

}

#stats-versus.hidden {
	visibility: hidden; 
}	
/* COMMENTARY */
#commentary {
	/*background-color: #fff;*/
	font-family: $serif;
	position: fixed;
	width: 10em;
	height: auto;
	margin: 5em 0 0 5%;
	z-index: 200;	
	color: $yourColor;
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 40px;
	}
#twitter-bar {
	font-family: $sans;
	font-size: .7em;
	font-style: normal;
	margin-bottom: .6em;
}
#twitter-bar a {
	color: $yourColor;
	font-style: normal;
}

#testing {
	background-color: #fff;
	font-family: $netto;
	float:left;
	position: fixed;
	width: 400px;
	top: 600px;  
	left: 40px;
	font-size: 14px;
  }