/*COLORS*/
$yourColor: #9880ba;
$bar: #322e10; /*brown #322e10*/
$black: #000;
$red: #d2222d;
$pink: #ef5476;
$mint: #0bb7ab;
$purple: #9880ba;
$yellow: #f0b50c;
$blue: #00ddff;
$orange: #f08e21;
$dkblue: #0aa5bb;
$peach: #f6917f;
$green: #8bb049;

/*FONTS*/
$sans: "atrament-web", sans-serif;

body {
	font-size: 100%;
	background: #f8f7f2 url(../img/map_1680x2750.png) top left no-repeat;  
	margin: 0;
	padding:0;
	height: 2750px;
	}

canvas { 
	margin-top: 0px;
	margin-left: 0px;
	width: 1680px;
	height: 2750px;
	display: block;
	position: relative;
	z-index: 10;
}

h1 {
	font-family: $sans;
	font-style: normal;
	font-weight: 400;
	font-size: 4.3em;
	text-align: center;
	}
	
/* NAV TOP */	
#nav, #bottom-nav {
	position: fixed;
	width: 100%;
	margin: 0;	
	}
	
/*SERVICE NAV (TOP)*/
#service-bar {
	background-color: $bar;
	width: 100%;
	height: 2.4em;
	opacity: 0.7;
	margin: 1.4em 0 0 0;
	position: absolute;
	z-index: 200;
	-moz-box-shadow: 3px 3px 7px #888;
  	-webkit-box-shadow: 3px 3px 7px #888;
  		}
#logo {
	display: block;
	float: left;
	position: relative;
	z-index: 300;
	margin: -0.5em 0.5em -0.5em 5%;
	padding: 0.5em;
	padding-bottom: .4em;
	background-color: $yourColor; 
	color: #ffffff;
	font-family: $sans;
	font-size: 3.5em;
	text-align: center;
  		}
#service-nav {
	font: 1em Georgia, serif;
	width: 100%;
	heigth: 1em;
	position: absolute;
	z-index: 200;
	margin: 1em 0 0 0;
	padding: 0;
	vertical-align: baseline;
	}
#service-nav ul {
	position: relative;
	list-style-type: normal;
}
#service-nav ul li {
	display: block;
	float: left;
	margin: 0 1.5em 0 0;
	vertical-align: baseline;
	}
#service-nav ul li a{
	color: #ffffff; 
	text-decoration: none;
	}
#service-nav ul li:first-child {
	border-bottom: 2px solid #ffffff;
}
#user-nav {
	position: relative;
	display: block;
	float:right;
	margin: -0.8em 5% 0 0;
	color: #ffffff;
	right: 0;
	background-color: $yourColor; /*blue #00ddff;*/
	font-size: 1.4em;
	font-family: $sans;
	text-transform: uppercase;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;*/	}
ul#user-nav {
	padding:0;
	}
ul#user-nav li:first-child{
	border:none;
	}
#user-avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height:49px;
	width: 49px;
	}
#user-name {
	position:relative;
	float:left;
	display:block;
	padding: 0.5em;
}	

/*BOTTOM NAV*/
#bottom-nav{
	bottom: 0;
	height: 3.5em;
	}
#bottom-bar{
	height: 3.5em;
	bottom: 0;
	width: 100%;
	/*background-color: $bar;*/
	opacity: 0.7;
	z-index: 180;
	position: absolute;	
	/*-moz-box-shadow: 3px -3px 7px #888;
  	-webkit-box-shadow: 3px -3px 7px #888;*/
	}
	
/*PORTRAIT NAV*/

#portrait-nav {
	bottom: 0;
	height: 3.5em;
	position: relative;
	display: block;
	float: left;
	z-index: 200;
	/*-moz-box-shadow: 3px -3px 7px #888;
  	-webkit-box-shadow: 3px -3px 7px #888;*/
/*  -moz-border-radius-bottomright: 15px;
  	-webkit-border-bottom-right-radius: 15px;*/
	}
#portrait-nav ul {
	position: relative;
	list-style-type: normal;
	margin-right: auto;
	padding-left:.5em;
	margin-top:0;
	margin-left: 0;
}
#portrait-nav ul li {
	display: block;
	float: left;
	position: relative;
	padding-right: .5em;
	}
	
#portrait-nav ul li a{
	color: #ffffff;
	text-decoration: none;  
	}
img.avatar {
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height: 2.8em;
	width: 2.8em;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;
  	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;*/
	border-top: .5em solid #fff;
  	}
  	
#portrait-nav img.selected
{
	border-top: 2em solid #fff; 
	margin-top: -1.5em;
	}
.pop {
	display: none;
	position: absolute;
	left: -.6em;
	/*top: -5.2em;*/
	bottom: 3.7em;
	width: 230px;
	background-color: #fff;
	opacity: 0.8;
	font-family: $sans;
	font-size: 1em;
	padding: .6em;
	-moz-border-radius-topleft: .8em;
  	-webkit-border-top-left-radius: .8em;
	-moz-border-radius-topright: .8em;
  	-webkit-border-top-right-radius: .8em;
	-moz-border-radius-bottomright: .8em;
  	-webkit-border-bottom-right-radius: .8em;
	}
#portrait-nav ul li:hover .pop, #control-nav ul li:hover .pop {
	display: block;
	}
#portrait-nav ul li:hover img {
	border-top: 1em solid #fff;
	margin-top: -.5em;
	}
#portrait-nav ul li .pop a {
	color: #fff;
	}
.pop a.name {
	font-family: $sans;
	font-size: 1.4em;
	text-transform: uppercase;
	}
.pop-nav {
	padding-top: .4em;
	font: .8em Georgia;
	}

/*CONTROL NAV*/

#control-nav {
	bottom: 0;
	display:block;
	margin: -.5em 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 3.5em;
	float:right;
	}
#control-nav ul {
	padding-left: 0;
	
	}
#control-nav ul li {
	display: block;
	float: left;
	position: relative;
	padding-right: .5em;
	padding-top: 0;
	margin-top: 0;
	}
img.mapbtn:hover {
	background-color: $yourColor;

	}
#control-nav ul li a {
	color: $yourColor;
	text-decoration: none;  
	}
img.mapbtn {
	background-color: $bar;
	position: relative;
	display: block;
	float:left;
	margin:0;
	padding:0;
	height: 30px;
	width: 30px;
	/*-moz-border-radius-bottomright: 1em;
  	-webkit-border-bottom-right-radius: 1em;
  	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;*/
	border: none;
  	}
#control-nav .pop {
	width: 100px;
	}
#control-nav .selected {
	background-color: $yourColor;
   -moz-box-shadow: inset 0 0 10px #aaa;
   -webkit-box-shadow: inset 0 0 10px #aaa;
   box-shadow: inset 0 0 10px #aaa;	
	}

/* MAIN-NAV */
#main-nav {
	bottom: 0;
	display:block;
	margin: 0 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 3.5em;
	float:left;
	}
#main-nav ul li {
display: block;
float: left;
font-size: 1.2em;
font-family: "atrament-web", sans-serif;
text-transform: uppercase;
padding: 0.2em 0;

}
#main-nav ul li a {
color: $yourColor;
text-decoration: none;
padding: 0.2em 0.5em;
border-right: 1px solid $yourColor;
}
/* TIME-NAV */
#time-nav {
	bottom: 0;
	display:block;
	margin: 0 0 0 0;	
	padding: 0 0 0 0;
	z-index: 200;
	position: relative;
	height: 3.5em;
	float:right;
	}
#time-nav ul{
	padding-left: 0;
	padding-right: 20px;		
		}
#time-nav ul li {
display: block;
float: left;
font-size: 1.2em;
font-family: "atrament-web", sans-serif;
text-transform: uppercase;
padding: 0.2em 0;

}
#time-nav ul li a {
color: $yourColor;
text-decoration: none;
padding: 0.2em 0.5em;
}

/* SIDEBAR */

#sidebar{
	position: fixed;
	background-color: #ccc;
	width: 400px;
	height: 100%;
	z-index: 150;
	top: 0;
	right: 0px;	/*TO HIDE SIDEBAR Right: -400px;*/
	}

#sidebar-nav ul {
	margin: 70px auto auto -65px;
	}
#sidebar-nav ul li {
	margin-top: 15px;
	}
#sidebar-nav ul li img {
	width: 30px;
	height: 30px;
	background-color: $yourColor;
	}
.sidebar-content {
	position: absolute;
	top: 70px;
	margin: 0 10px 50px 20px;
	}
#sidebar .title {
	font-family: $sans;
	text-transform: uppercase;
	font-size: 3em;
	}
#sidebar .sub-title {
	font-family: Georgia;
	font-size: 1em;
	padding-bottom: 20px;
	}
	
@mixin datahead {
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	width: 150px;
	float: left;
	display: table-cell;
	padding: 0;
	margin: 0;
}

/* LEADERBOARD */
@mixin datacell {
	width: 70px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
}

#leaderboard {
	/*visibility: hidden; TURN OFF LEADERBOARD HERE*/
	table {
		border-spacing: 4px;
		margin-top: 0px;
		
		thead {
			width: 360px;
			display: block;
			
			tr{
			 	td {
				@include datacell;
				}
				th {
				@include datahead;
				border-top: 0;				
				}
			}
		}
		tfoot {
			tr {
				margin: 0;
				padding: 0;
				
				td {
					@include datacell;				
				}
				th {
					@include datahead;
					p {
						margin-top: 5px;
						margin-bottom: auto;
					}
				}
				td {
					float: left;
					font-size: 1.4em;
				}
			} /* End tr*/
		} /* End tfoot*/
		
		.avatar {
			border: none;
			padding: 0;
			margin: 0;
			margin-right: 5px;
			width: 25px;
			height: 25px;
			}
	} /*End table*/
} /*End leaderboard*/

#lb-sera {
	th, td {
		border-top: 3px solid $peach;
	}
}
#lb-carrie {
	th, td {
		border-top: 3px solid $pink;
	}
}
#lb-frank {
	th, td {
		border-top: 3px solid $green;
	}
}
#lb-guri {
	th, td {
		border-top: 3px solid $mint;
	}
}
#lb-kristin {
	th, td {
		border-top: 3px solid $yellow;
	}
}
/* OLDER LEADERBOARD DESIGN WITH 2 ROWS PER PERSON
#leaderboard table {
	margin-top: 0px;
	}
#leaderboard table thead {
	width: 360px;
	display: block;
	}
#leaderboard table thead tr th, #leaderboard table tfoot tr td {
	width: 90px;
	font-family: $sans;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	}
#leaderboard table tfoot tr td {
	float: left;
	font-size: 1.4em;
	}
#leaderboard table tfoot tr {
	margin: 0;
	padding: 0;
	}
#leaderboard .highlighted {
	width: 360px;
	height: 20px;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: normal;
	background-color: $bar;	
	color: #fff;
	text-align: left;
	display: block;
}
#leaderboard .avatar {
	border: none;
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	}

	*/
	
/* COMMENTARY */
#commentary {
	/*background-color: #fff;*/
	position: fixed;
	width: 10em;
	height: auto;
	margin: 5em 0 0 5%;
	z-index: 200;	
	color: $yourColor;
	font-style: normal;
	font-weight: 400;
	font-size: 1.8em;
	}
#time-bar {
	font-family: $sans;
	font-size: .6em;
	font-style: normal;
	margin-bottom: .6em;
}
#time-bar a {
	color: $yourColor;
	font-style: normal;
}

